<div class="socials">
    <!-- instagramm  #F87702-->
    <svg (click)="onSocialChange('insta')" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.25 10C6.25 8.95833 6.61458 8.07292 7.34375 7.34375C8.07292 6.61458 8.95833 6.25 10 6.25C11.0417 6.25 11.9271 6.61458 12.6562 7.34375C13.3854 8.07292 13.75 8.95833 13.75 10C13.75 11.0417 13.3854 11.9271 12.6562 12.6562C11.9271 13.3854 11.0417 13.75 10 13.75C8.95833 13.75 8.07292 13.3854 7.34375 12.6562C6.61458 11.9271 6.25 11.0417 6.25 10ZM20 8.75V17.5C20 18.1901 19.7559 18.7793 19.2676 19.2676C18.7793 19.7559 18.1901 20 17.5 20H2.5C1.8099 20 1.2207 19.7559 0.732422 19.2676C0.244141 18.7793 0 18.1901 0 17.5V2.5C0 1.8099 0.244141 1.2207 0.732422 0.732422C1.2207 0.244141 1.8099 0 2.5 0H17.5C18.1901 0 18.7793 0.244141 19.2676 0.732422C19.7559 1.2207 20 1.8099 20 2.5V6.25H15C14.4141 5.48177 13.6849 4.87305 12.8125 4.42383C11.9401 3.97461 11.0026 3.75 10 3.75C8.9974 3.75 8.0599 3.97461 7.1875 4.42383C6.3151 4.87305 5.58594 5.48177 5 6.25H0V8.75H3.86719C3.78906 9.16667 3.75 9.58333 3.75 10C3.75 11.1328 4.02995 12.1777 4.58984 13.1348C5.14974 14.0918 5.9082 14.8503 6.86523 15.4102C7.82227 15.9701 8.86719 16.25 10 16.25C11.1328 16.25 12.1777 15.9701 13.1348 15.4102C14.0918 14.8503 14.8503 14.0918 15.4102 13.1348C15.9701 12.1777 16.25 11.1328 16.25 10C16.25 9.58333 16.2109 9.16667 16.1328 8.75H20Z"
        fill="gray" [class.active]="isSocialActive('insta')"/>
    </svg>

    <!-- vkontakte -->
    <svg (click)="onSocialChange('vk')" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.125 0H1.875C0.84375 0 0 0.84375 0 1.875V18.125C0 19.1562 0.84375 20 1.875 20H18.125C19.1562 20 20 19.1562 20 18.125V1.875C20 0.84375 19.1562 0 18.125 0ZM16.1987 14L14.37 14.0275C14.37 14.0275 13.975 14.1062 13.46 13.75C12.7762 13.2812 12.1313 12.0587 11.6275 12.2188C11.12 12.3787 11.135 13.4762 11.135 13.4762C11.135 13.4762 11.1388 13.7112 11.0213 13.835C10.8963 13.9712 10.6462 13.9988 10.6462 13.9988H9.83C9.83 13.9988 8.025 14.1088 6.435 12.4513C4.7 10.6463 3.17 7.065 3.17 7.065C3.17 7.065 3.08 6.83 3.1775 6.7175C3.28625 6.58875 3.58 6.58125 3.58 6.58125L5.5375 6.57C5.5375 6.57 5.72125 6.60125 5.85375 6.69875C5.96375 6.7775 6.02125 6.92875 6.02125 6.92875C6.02125 6.92875 6.3375 7.73 6.75625 8.4525C7.5725 9.8625 7.955 10.1712 8.2325 10.0225C8.635 9.80375 8.51375 8.02625 8.51375 8.02625C8.51375 8.02625 8.52125 7.38125 8.31125 7.09625C8.1475 6.87375 7.83875 6.8075 7.70625 6.79125C7.59625 6.775 7.77625 6.52125 8.01125 6.405C8.3625 6.2325 8.98375 6.22125 9.71875 6.22875C10.2887 6.2325 10.4575 6.27125 10.68 6.3225C11.3562 6.48625 11.125 7.115 11.125 8.62375C11.125 9.10875 11.0388 9.7875 11.3863 10.01C11.535 10.1075 11.9012 10.025 12.82 8.4675C13.2537 7.72875 13.5812 6.8625 13.5812 6.8625C13.5812 6.8625 13.6512 6.70625 13.7612 6.64C13.875 6.57375 14.0275 6.59375 14.0275 6.59375L16.0863 6.5825C16.0863 6.5825 16.7038 6.50875 16.805 6.79C16.91 7.0825 16.575 7.76625 15.735 8.8875C14.3563 10.7275 14.2 10.555 15.3488 11.6175C16.4425 12.6337 16.6687 13.1288 16.7087 13.1913C17.1537 13.9413 16.2013 14 16.2013 14H16.1987Z"
        fill="gray" [class.active]="isSocialActive('vk')"/>
    </svg>

    <!-- facebook -->
    <svg (click)="onSocialChange('fb')" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.8932 0C19.197 0 19.4575 0.108507 19.6745 0.325521C19.8915 0.542535 20 0.802951 20 1.10677V18.8932C20 19.197 19.8915 19.4575 19.6745 19.6745C19.4575 19.8915 19.197 20 18.8932 20H13.8021V12.2526H16.3932L16.7839 9.23177H13.8021V7.30469C13.8021 6.81858 13.9041 6.45399 14.1081 6.21094C14.3121 5.96788 14.7092 5.84635 15.2995 5.84635L16.888 5.83333V3.13802C16.3411 3.0599 15.5686 3.02083 14.5703 3.02083C13.3898 3.02083 12.4457 3.36806 11.7383 4.0625C11.0308 4.75694 10.6771 5.73785 10.6771 7.00521V9.23177H8.07292V12.2526H10.6771V20H1.10677C0.802951 20 0.542535 19.8915 0.325521 19.6745C0.108507 19.4575 0 19.197 0 18.8932V1.10677C0 0.802951 0.108507 0.542535 0.325521 0.325521C0.542535 0.108507 0.802951 0 1.10677 0H18.8932Z"
        fill="gray" [class.active]="isSocialActive('fb')"/>
    </svg>
        
    <!-- snap -->
    <svg (click)="onSocialChange('snap')" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.6667 13.2812C16.6667 13.0903 16.5712 12.9731 16.3802 12.9297C15.7986 12.8082 15.2865 12.5564 14.8438 12.1745C14.401 11.7925 14.0538 11.3194 13.8021 10.7552C13.7413 10.6337 13.7109 10.5252 13.7109 10.4297C13.7109 10.2995 13.7956 10.1866 13.9648 10.0911C14.1341 9.99566 14.3186 9.92188 14.5182 9.86979C14.7179 9.81771 14.9023 9.72873 15.0716 9.60286C15.2409 9.477 15.3255 9.31858 15.3255 9.1276C15.3255 8.96267 15.2452 8.82595 15.0846 8.71745C14.924 8.60894 14.7569 8.55469 14.5833 8.55469C14.4878 8.55469 14.3533 8.58941 14.1797 8.65885C14.0061 8.7283 13.8672 8.76302 13.763 8.76302C13.7283 8.76302 13.6762 8.75434 13.6068 8.73698C13.6502 8.1901 13.6719 7.69097 13.6719 7.23958C13.6719 6.5625 13.5981 6.06771 13.4505 5.75521C13.138 5.07812 12.6931 4.55078 12.1159 4.17318C11.5386 3.79557 10.8767 3.60677 10.1302 3.60677C8.41146 3.60677 7.21788 4.32292 6.54948 5.75521C6.39323 6.08507 6.3151 6.5842 6.3151 7.2526C6.3151 7.58247 6.34115 8.07726 6.39323 8.73698C6.30642 8.75434 6.24132 8.76302 6.19792 8.76302C6.10243 8.76302 5.96571 8.7283 5.78776 8.65885C5.60981 8.58941 5.47743 8.55469 5.39062 8.55469C5.21701 8.55469 5.05425 8.60894 4.90234 8.71745C4.75043 8.82595 4.67448 8.96701 4.67448 9.14062C4.67448 9.32292 4.75911 9.477 4.92839 9.60286C5.09766 9.72873 5.28212 9.81771 5.48177 9.86979C5.68142 9.92188 5.86589 9.99566 6.03516 10.0911C6.20443 10.1866 6.28906 10.2995 6.28906 10.4297C6.28906 10.5252 6.25868 10.6337 6.19792 10.7552C5.64236 11.9531 4.78299 12.678 3.61979 12.9297C3.42882 12.9731 3.33333 13.0903 3.33333 13.2812C3.33333 13.6892 3.93229 13.9887 5.13021 14.1797C5.14757 14.2231 5.17361 14.3359 5.20833 14.5182C5.24306 14.7005 5.2908 14.8329 5.35156 14.9154C5.41233 14.9978 5.51215 15.0391 5.65104 15.0391C5.76389 15.0391 5.93099 15.0174 6.15234 14.974C6.3737 14.9306 6.5408 14.9089 6.65365 14.9089C6.95747 14.9089 7.25043 14.974 7.53255 15.1042C7.81467 15.2344 8.05122 15.3754 8.24219 15.5273C8.43316 15.6793 8.68273 15.8203 8.99088 15.9505C9.29904 16.0807 9.63108 16.1458 9.98698 16.1458C10.3602 16.1458 10.7031 16.0807 11.0156 15.9505C11.3281 15.8203 11.5777 15.6793 11.7643 15.5273C11.951 15.3754 12.1853 15.2344 12.4674 15.1042C12.7496 14.974 13.0425 14.9089 13.3464 14.9089C13.4592 14.9089 13.6285 14.9284 13.8542 14.9674C14.0799 15.0065 14.2491 15.026 14.362 15.026C14.4922 15.026 14.5898 14.9848 14.6549 14.9023C14.7201 14.8199 14.77 14.6853 14.8047 14.4987C14.8394 14.3121 14.8611 14.2057 14.8698 14.1797C16.0677 13.9887 16.6667 13.6892 16.6667 13.2812ZM20 3.75V16.25C20 17.283 19.6332 18.1662 18.8997 18.8997C18.1662 19.6332 17.283 20 16.25 20H3.75C2.71701 20 1.83377 19.6332 1.10026 18.8997C0.366753 18.1662 0 17.283 0 16.25V3.75C0 2.71701 0.366753 1.83377 1.10026 1.10026C1.83377 0.366753 2.71701 0 3.75 0H16.25C17.283 0 18.1662 0.366753 18.8997 1.10026C19.6332 1.83377 20 2.71701 20 3.75Z"
        fill="gray" [class.active]="isSocialActive('snap')"/>
    </svg>
        
    <!-- twitter -->
    <svg (click)="onSocialChange('tweet')" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.5 20H2.5C1.8099 20 1.2207 19.7559 0.732422 19.2676C0.244141 18.7793 0 18.1901 0 17.5V2.5C0 1.8099 0.244141 1.2207 0.732422 0.732422C1.2207 0.244141 1.8099 0 2.5 0H17.5C18.1901 0 18.7793 0.244141 19.2676 0.732422C19.7559 1.2207 20 1.8099 20 2.5V17.5C20 18.1901 19.7559 18.7793 19.2676 19.2676C18.7793 19.7559 18.1901 20 17.5 20ZM15.8789 5C15.8008 5.03906 15.6836 5.11393 15.5273 5.22461C15.3711 5.33529 15.2441 5.41992 15.1465 5.47852C15.0488 5.53711 14.9284 5.59896 14.7852 5.66406C14.6419 5.72917 14.5052 5.77474 14.375 5.80078C13.8932 5.26693 13.3008 5 12.5977 5C11.0742 5 10.3125 5.63802 10.3125 6.91406V8.08594C8.21615 7.96875 6.60807 7.19401 5.48828 5.76172C5.16276 6.10026 5 6.47135 5 6.875C5 7.73438 5.31901 8.38542 5.95703 8.82812C5.86589 8.82812 5.75195 8.83464 5.61523 8.84766C5.47852 8.86068 5.36784 8.86068 5.2832 8.84766C5.19857 8.83464 5.10417 8.80208 5 8.75C5 9.34896 5.15951 9.847 5.47852 10.2441C5.79753 10.6413 6.23698 10.8984 6.79688 11.0156C6.66667 11.1719 6.48438 11.25 6.25 11.25C6.04167 11.25 5.85938 11.1914 5.70312 11.0742C5.70312 11.582 5.94727 11.9759 6.43555 12.2559C6.92383 12.5358 7.47396 12.6823 8.08594 12.6953C7.85156 13.0469 7.50977 13.3105 7.06055 13.4863C6.61133 13.6621 6.13281 13.75 5.625 13.75C5.44271 13.75 5.19206 13.7044 4.87305 13.6133C4.55404 13.5221 4.38802 13.4766 4.375 13.4766C4.58333 13.8932 5.00977 14.2513 5.6543 14.5508C6.29883 14.8503 7.11589 15 8.10547 15C8.97786 15 9.79167 14.847 10.5469 14.541C11.3021 14.235 11.9466 13.8281 12.4805 13.3203C13.0143 12.8125 13.4733 12.2331 13.8574 11.582C14.2415 10.931 14.528 10.2572 14.7168 9.56055C14.9056 8.86393 15 8.17708 15 7.5C15 7.47396 15.0781 7.41862 15.2344 7.33398C15.3906 7.24935 15.5729 7.13867 15.7812 7.00195C15.9896 6.86523 16.1458 6.71224 16.25 6.54297C15.5469 6.54297 15.0781 6.55599 14.8438 6.58203C15.2995 6.30859 15.6445 5.78125 15.8789 5Z"
        fill="gray" [class.active]="isSocialActive('tweet')"/>
    </svg>
        
</div>
