<div class="line">
    <app-sort-item 
        class="line__item" 
        *ngFor="let item of sortTypes" 
        [item]="item"
        (activeSortChange)="onSortChange()"
    ></app-sort-item>
</div>