.checkbox {
    display: flex;
    align-items: center;

    &__input {
        display: none;
    }

    &__item {
        width: 12px;
        height: 12px;
        border: 1px solid var(--color-text-main);
        margin-right: 4px;
        margin-top: -5px;
        box-sizing: border-box;
        border-radius: 3px;
        position: relative;
    }

    &__input:checked + .checkbox__item {
        background-color: var(--color-secondary);

        &:after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 2px;
            background-color: var(--color-text-main);
            position: absolute;
            left: 2px;
            top: 2px;
        }
    }

    &__text-two {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        text-transform: capitalize;
    }

}
