<label class="checkbox">
    <input type="checkbox" (change)="onChange()" [(ngModel)]="isChecked" class="checkbox__input">
    <div class="checkbox__item"></div>
    <span class="checkbox__text">{{ text }}</span>
    <span class="checkbox__text-two">{{ twotext }}</span>
</label>