<div class="flash" (click)="toggleFlash()">
    <ng-container *ngIf="isOn then on else off"></ng-container>
</div>

<ng-template #on>
    <img src="assets/icon/on.png" alt="">
</ng-template>

<ng-template #off>
    <img src="assets/icon/off.png" alt="">
</ng-template>