.sort-item {
    color: white;
    opacity: 0.3;
    user-select: none;
    text-transform: capitalize;
    font-family: DaxlinePro;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    &__name {
        padding-right: 4px;
        padding-top: 2px;
    }

    .arrow {
        fill: white;
    }

    &_active {
        opacity: 1;

        .arrow_active {
            fill: var(--color-secondary);
        }
    }
}
