<div class="sort-item" (click)="setActiveSort()" [class.sort-item_active]="isActive">
    <span class="sort-item__name">{{ item.name }}</span>
    <svg width="7" height="14" viewBox="0 0 7 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.625 0H4.375L4.375 10.5H7L3.5 14L0 10.5H2.625L2.625 0Z" class="arrow" [class.arrow_active]="getIsActiveSortWay('ascending')"/>
    </svg>

    <svg width="7" height="14" viewBox="0 0 7 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.625 14H4.375V3.5H7L3.5 0L0 3.5H2.625V14Z" class="arrow" [class.arrow_active]="getIsActiveSortWay('descending')"/>
    </svg>
</div>