<div class="carousel-slider">
    <div class="carousel-slider__section" [style.background]="color">
        <div class="carousel-slider__section-header">
            {{ title }}
        </div>
        <div class="carousel-slider__section-numbers">
            <img src="../../../assets/icon/symbol.svg" *ngIf="isEarnings">
            <span *ngIf="isEarnings">
                {{ slide.value | number: '2.0-2' }}
            </span>
            <span *ngIf="!isEarnings">
                {{ slide.value }}
            </span>
        </div>
        <div class="carousel-slider__section-percent">
            <!-- {{ slide.percents }}% -->
        </div>
    </div>
</div>