.carousel-slider {
    position: relative;
    width: 100%;
    min-height: 119px;
    display: flex;
    justify-content: center;

    &__section {
        position: absolute;
        width: 250px;
        height: 100%;
        border-radius: 15px;
        box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.25), 15px 15px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        margin-left: 10px;

        &-header {
            width: 100%;
            height: 61px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 21px;
            color: var(--color-text-main);
        }

        &-numbers {
            margin-top: -10px;
            min-height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 37px;
            color: var(--color-text-main);

            img {
                width: 18px;
            }
        }

        &-percent {
            min-height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color:  #42FF00;
        }

    }
}

:host {
    width: 100%;
}