<div class="success">
    <div class="success__modal">
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M40.5595 0.0037164C18.0644 -0.300101 -0.300116 18.0636 0.00371658 40.5576C0.303703 62.1306 17.8702 79.6962 39.4442 79.9962C61.9432 80.3038 80.3039 61.9402 79.9962 39.4462C79.7 17.8693 62.1335 0.303688 40.5595 0.0037164ZM37.3308 37.0137L47.2439 25.6686C47.7809 25.0541 48.5401 24.678 49.3544 24.6232C50.1687 24.5684 50.9714 24.8393 51.586 25.3763C52.2005 25.9133 52.5766 26.6725 52.6314 27.4867C52.6862 28.301 52.4153 29.1037 51.8783 29.7182L41.9652 41.0633C41.6993 41.3676 41.3761 41.6165 41.014 41.7959C40.6518 41.9753 40.2579 42.0815 39.8547 42.1087C39.4515 42.1358 39.0469 42.0833 38.664 41.9541C38.2811 41.8249 37.9274 41.6215 37.6231 41.3556C37.3188 41.0897 37.0699 40.7665 36.8905 40.4044C36.7111 40.0422 36.6049 39.6484 36.5777 39.2452C36.5506 38.842 36.6031 38.4374 36.7323 38.0545C36.8616 37.6717 37.0649 37.318 37.3308 37.0137ZM29.8581 54.4832C29.2812 55.0597 28.4989 55.3836 27.6832 55.3836C26.8675 55.3836 26.0853 55.0597 25.5083 54.4832L16.2876 45.2533C16.002 44.9675 15.7755 44.6282 15.621 44.2548C15.4665 43.8814 15.3871 43.4812 15.3873 43.0771C15.3875 42.6731 15.4672 42.273 15.622 41.8997C15.7768 41.5265 16.0036 41.1874 16.2895 40.9018C16.5754 40.6162 16.9147 40.3897 17.2881 40.2352C17.6615 40.0808 18.0617 40.0013 18.4658 40.0015C18.8699 40.0017 19.27 40.0815 19.6432 40.2363C20.0165 40.3911 20.3556 40.6179 20.6412 40.9037L29.8716 50.1336C30.4464 50.7123 30.7678 51.4956 30.7653 52.3112C30.7628 53.1268 30.4365 53.9081 29.8581 54.4832ZM63.8565 29.7182L42.3422 54.3313C42.065 54.6489 41.7255 54.9061 41.3447 55.0871C40.964 55.268 40.5501 55.3688 40.1288 55.3831H40.0249C39.6206 55.3832 39.2203 55.3036 38.8468 55.1488C38.4733 54.9941 38.1339 54.7672 37.8481 54.4813L28.6293 45.2514C28.0525 44.6741 27.7287 43.8913 27.729 43.0752C27.7294 42.2592 28.0539 41.4767 28.6312 40.8999C29.2086 40.3231 29.9914 39.9992 30.8075 39.9996C31.6236 40 32.4061 40.3245 32.983 40.9018L38.7135 46.6378C38.8624 46.7868 39.0404 46.9036 39.2364 46.981C39.4324 47.0584 39.6422 47.0947 39.8528 47.0877C40.0634 47.0806 40.2703 47.0304 40.4606 46.9401C40.651 46.8498 40.8208 46.7214 40.9595 46.5628L59.2279 25.6686C59.7649 25.0541 60.5241 24.678 61.3384 24.6232C62.1527 24.5684 62.9555 24.8393 63.57 25.3763C64.1846 25.9133 64.5606 26.6725 64.6154 27.4867C64.6703 28.301 64.3993 29.1037 63.8623 29.7182H63.8565Z" fill="#F87702"/>
        </svg>
        <h1>Success!</h1>
        <p>Complaint sent</p>
    </div>
</div>