.success {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    &__modal {
        width: 100%;
        min-height: 260px;
        background: var(--color-background);
        box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text-main);
        padding-bottom: 30px;

        svg {
            margin-top: 40px;
        }

        h1 {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 37px;
            margin-top: -10px;
        }

        p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
            
        }

    }
}