<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
    <div class="online">

        <div class="title title_small">In Online</div>

        <div class="online__container">
            <div class="stream">
                <p class="stream__title">Streaming</p>
                <div class="stream__btn btn btn_secondary" (click)="goToStream()">GO TO ONLINE</div>
            </div>
        </div>

    </div>

</ion-content>