.online {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 10px;

        .stream {
            position: relative;
            width: 100%;
            height: 130px;
            background: var(--color-black);
            box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 10px 7px;
            color: var(--color-text-main);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &__title {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 28px;
            }

            &__btn {
                margin-top: -15px;
            }

        }

    }

}