.header {
    --background: var(--color-black);

    ion-button {
        color: var(--color-text-main);
        text-transform: capitalize;
        font-size: 12px;
    }

    .title {
        font-size: 12px;
        margin-left: 3px;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    flex-direction: column;
    background: var(--color-black);

    &__avatar {
        width: 100%;
        height: 320px;
        margin-bottom: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &-mask {
            width: 75%;
            border-radius: 100%;
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, .7);
            
            &::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
    }


    .btn {
        width: 90%;
        position: absolute;
        bottom: 30px;
    }
}