<ion-header class="ion-no-border">
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    <span class="title">Back</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <div class="content">
        <div class="content__avatar" style.backgroundImage="url({{ image }})">
            <div class="content__avatar-mask"></div>
        </div>
        <div class="btn btn_secondary" (click)="save()">save change</div>
    </div>

</ion-content>