.video {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__list {
    position: relative;
    width: 100%;
    min-height: 10px;
    padding-top: 15px;

    &_calls {
      width: 100%;
      min-height: 10px;

      &:nth-child(1) {
        padding-bottom: 30px;
      }

      .date {
        width: 100%;
        min-height: 5px;
        border-bottom: 1px solid #403f4c;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-family: DaxlinePro;
          font-style: normal;
          font-weight: 500;
          font-size: 8px;
          line-height: 12px;
          color: var(--color-text-main);
        }
      }

      .chat {
        width: 100%;
        min-height: 10px;
        padding-top: 7px;
      }
    }
  }
}

.blur {
  filter: blur(4px);
}
