<ion-header [class.blur]="isCallPrepare">
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="video" [class.blur]="isCallPrepare">

        <div class="title title_small">Video calls</div>

        <div class="video__list">

            <div class="video__list_calls">
                <div class="date">
                    <span>Today</span>
                </div>
                <div class="chat">
                    <app-call-item (doCall)="onCallStarted($event)" *ngFor="let item of calls" [data]="item"></app-call-item>
                </div>
            </div>

            <div class="video__list_calls">
                <div class="date">
                    <span>Yesterday</span>
                </div>
                <div class="chat">
                    <app-call-item (doCall)="onCallStarted($event)" *ngFor="let item of calls" [data]="item"></app-call-item>
                </div>
            </div>
        </div>
    </div>

    <app-call-selector *ngIf="isCallPrepare && !callType" (selectCall)="onCallTypeSelected($event)"></app-call-selector>
    <app-dial *ngIf="isCallPrepare && callType"></app-dial>
</ion-content>
