.message {
    width: 100%;
    color: white;
    display: flex;

    &__avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 7px;
    }

    &__info {
        font-family: DaxlinePro;
        text-shadow: 0 0 3px black;

        &-user {
            font-weight: 900;
            font-size: 8px;
        }

        &-text {
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            margin: 0;
        }
    }
}