<div class="message">
    <img class="message__avatar" [src]="message.avatar" alt="">

    <div class="message__info">
        <span class="message__info-user">{{ message.from }}</span>

        <p class="message__info-text">{{ message.value }}</p>
    </div>
</div>