<div class="dial-wrapper">
    <div class="dial">
        <img class="dial_img" src="../../../assets/img/user-call.png">
        <p class="dial_name">Anton Ant</p>
        <p class="dial_look">Audio call</p>
        <p class="dial_time">00:32:34</p>
    </div>

    <div class="actions">
        <div class="actions__button actions__button_accept">
            <svg width="30" height="30" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.472 31.5983L32.1144 36.9129C31.3236 37.724 30.2753 37.9988 29.2544 38C24.7396 37.8647 20.4722 35.647 16.9683 33.3699C11.217 29.1857 5.93985 23.9976 2.62783 17.728C1.35756 15.0989 -0.132931 11.7445 0.00947403 8.80995C0.0221724 7.70605 0.319649 6.62264 1.0971 5.91109L6.45465 0.556221C7.56717 -0.390074 8.64304 -0.0628945 9.35497 1.03936L13.6652 9.21259C14.1188 10.1809 13.8586 11.2183 13.1817 11.9102L11.2079 13.883C11.086 14.05 11.0084 14.24 11.0065 14.4467C11.7634 17.3766 14.0564 20.077 16.082 21.9355C18.1077 23.7939 20.285 26.3117 23.1113 26.9078C23.4607 27.0052 23.8886 27.0395 24.1385 26.8071L26.4347 24.4719C27.2262 23.872 28.3691 23.5788 29.2141 24.0693H29.2544L37.0288 28.6592C38.1701 29.3746 38.2892 30.7572 37.472 31.5983Z" fill="white"/>
            </svg>
        </div>
        <div class="actions__button actions__button_decline">
            <svg width="40" height="40" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.03003 31.1533L5.06041 23.6069C5.04612 22.4742 5.59307 21.5387 6.31408 20.8159C9.60212 17.7192 14.1878 16.2698 18.2756 15.4024C25.3011 14.2942 32.7011 14.2312 39.4764 16.3226C42.2336 17.2834 45.6595 18.6014 47.6338 20.7771C48.4054 21.5667 48.9612 22.5431 48.9146 23.596L48.9127 31.1708C48.7951 32.6266 47.803 33.156 46.5202 32.88L37.6931 30.1484C36.6877 29.7845 36.1381 28.8669 36.1274 27.8991L36.1282 25.1084C36.0963 24.9042 36.0168 24.715 35.872 24.5674C33.265 23.0308 29.7341 22.7428 26.9877 22.861C24.2412 22.9792 20.9212 22.7385 18.5013 24.3155C18.1853 24.4936 17.8586 24.772 17.8461 25.113L17.8737 28.3879C17.7382 29.3718 17.1374 30.3872 16.1931 30.6379L16.1646 30.6664L7.42166 32.9182C6.10877 33.2194 5.047 32.3259 5.03003 31.1533Z" fill="white"/>
            </svg>
        </div>
    </div>

</div>