.dial-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px 40px 50px;
    box-sizing: border-box;

    .dial {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: var(--color-text-main);

        &_img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        &_name {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 750;
            font-size: 24px;
            line-height: 37px;
        }

        &_look {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 750;
            font-size: 14px;
            line-height: 21px;
            margin-top: -10px;
        }

        &_time {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 350;
            font-size: 14px;
            line-height: 21px;
            opacity: 0.7;
            margin-top: -10px;
        }

    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &_accept {
                background-color: green;
            }

            &_decline {
                background-color: red;
            }
        }
    }
}