.chat {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    position: fixed;
    left: 2%;
    top: 85px;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    border-radius: 5px;
    background: var(--color-black);
    z-index: 2;

    ion-grid {
      padding: 0;

      ion-row {
        .back {
          position: relative;
          align-items: left;
          color: var(--color-text-main);

          p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 18px;
            display: flex;

            .arrow {
              font-size: 15px;
              font-weight: 900;
              padding-right: 2px;
              cursor: pointer;
            }
          }
        }

        .user-info {
          position: relative;
          text-align: center;
          color: var(--color-text-main);
          padding-top: 12px;
          line-height: 15px;

          p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            margin: 0;
          }

          span {
            width: 100%;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 200;
            font-size: 10px;
            color: var(--color-text-main);
            opacity: 0.5;
          }
        }

        .more {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 20px;
          box-sizing: border-box;
          z-index: 2;

          &__button {
            margin-left: 4px;
            position: relative;

            &-dot {
              width: 4px;
              height: 4px;
              background: var(--color-secondary);
              border-radius: 50%;
              position: relative;

              &::after {
                content: '';
                width: 4px;
                height: 4px;
                background: var(--color-secondary);
                border-radius: 50%;
                position: absolute;
                left: 8px;
              }

              &::before {
                content: '';
                width: 4px;
                height: 4px;
                background: var(--color-secondary);
                border-radius: 50%;
                position: absolute;
                right: 8px;
              }
            }
          }
        }
      }
    }

    &-menu {
      position: absolute;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 1;
      background-color: var(--color-black);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 22px 20px 10px 20px;
      box-sizing: border-box;
      outline: none;

      .actions {
        width: 100%;
        height: 20px;
        margin-bottom: 12px;

        svg {
          margin-right: 20px;
        }
      }

      .buttons {
        width: 100%;

        .btn {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__messages {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 80px;
    box-sizing: border-box;

    &-line {
      position: relative;
      width: 100%;
      min-height: 10px;
      opacity: 0.3;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .line {
        width: 100%;
        height: 1px;
        background: var(--color-text-main);
        display: flex;
        justify-content: center;
        align-items: center;

        &_week {
          min-width: 60px;
          min-height: 10px;
          background: var(--color-background);
          text-align: center;

          p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            color: var(--color-text-main);
          }
        }
      }
    }
  }

  &__footer {
    position: fixed;
    left: 2%;
    bottom: 10px;
    width: 96%;
    min-height: 40px;
    border-radius: 5px;
    padding-left: 3px;
    background: var(--color-black);
    z-index: 2;
    box-sizing: border-box;

    ion-grid {
      padding: 0;

      ion-row {
        min-height: 40px;

        .gallery {
          display: flex;
          justify-content: center;
          align-items: center;

          &__label-gallery {
            width: 100%;
            min-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 20px;
            }

            &_input {
              display: none;
              margin-left: 40px;
            }
          }
        }

        .input-message {
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            background: none;
            width: 100%;
            margin-left: -15px;
            color: var(--color-text-main);
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 350;
            font-size: 10px;
            line-height: 15px;

            &::-webkit-input-placeholder {
              font-family: DaxlinePro;
              font-style: normal;
              font-weight: 350;
              font-size: 10px;
              line-height: 15px;
              color: var(--color-text-main);
              opacity: 0.3;
            }
          }
        }

        .option {
          display: flex;
          justify-content: center;
          align-items: center;

          &__item {
            background: none;
            opacity: 0.5;
            outline: none;
            position: relative;
            padding: 1px 6px;
            z-index: 10;

            &-fab {
              width: 15px;
              height: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              --background: none;
              --background-hover: none;
              --background-activated: none;
              --close-icon-font-size: 15px;

              img {
                  width: 100%;
              }

            }

            &-list {
              background: rgba(17, 22, 26, 0.6);
              margin-bottom: 35px;
              margin-left: -30px;
              border-radius: 5px;

              ion-fab-button {
                  --background: none;
                  --box-shadow: none;
                  --background-hover: none;
                  margin: 0;
                  padding: 0;
                  --width: 15px;

                  &:hover {
                     --background: none;
                     --box-shadow: none;
                  }
              }

            }

            &:nth-child(3) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
