<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="chat">

        <div class="chat__header">
            <ion-grid>
                <ion-row>
                    <ion-col class="back">
                        <p>
                            <ion-icon class="arrow" name="arrow-back-outline"></ion-icon>
                            Back
                        </p>
                    </ion-col>
                    <ion-col class="user-info" size="5">
                        <p>Diana Madnes</p>
                        <span>Was online 24 minutes ago</span>
                    </ion-col>
                    <ion-col class="more" (click)="toggleMore()">
                        <div class="more__button">
                            <div class="more__button-dot"></div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div #moreMenu tabindex="0" class="chat__header-menu" (blur)="closeMore()" *ngIf="isMoreOpen">
                <div class="actions">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2"
                            d="M13.1318 6.23664L13.1886 6.3572L13.3204 6.37726L19.3151 7.2896C19.3153 7.28962 19.3154 7.28964 19.3155 7.28965C19.5857 7.3319 19.7886 7.59964 19.7438 7.90376L19.7435 7.90641C19.7271 8.02662 19.6731 8.13543 19.5927 8.21806C19.5926 8.21812 19.5926 8.21819 19.5925 8.21825L15.255 12.6466L15.1665 12.737L15.1869 12.862L16.2118 19.1157L16.2118 19.1159C16.262 19.4208 16.0651 19.6934 15.7977 19.7417L15.7974 19.7418C15.6908 19.7612 15.5797 19.7433 15.4845 19.6902L15.4834 19.6896L10.1206 16.7371L10 16.6707L9.87947 16.7371L4.51672 19.6896L4.51633 19.6898C4.43376 19.7355 4.34158 19.7555 4.24998 19.7487C4.15836 19.7419 4.06929 19.7082 3.993 19.6502L3.84166 19.8492L3.993 19.6502C3.9166 19.5921 3.85583 19.5116 3.81907 19.4168C3.78229 19.3219 3.77148 19.2176 3.78826 19.116L3.78831 19.1157L4.81316 12.862L4.83363 12.737L4.74505 12.6466L0.407147 8.21779L0.407132 8.21777C0.309655 8.11827 0.251911 7.97994 0.250046 7.83254C0.248184 7.6853 0.302292 7.5454 0.397193 7.44307C0.476079 7.3589 0.576532 7.30582 0.683504 7.28982L0.68413 7.28972L6.67974 6.37726L6.8115 6.3572L6.86829 6.23664L9.54793 0.547889C9.54801 0.547704 9.5481 0.547519 9.54819 0.547335C9.67744 0.277373 9.97988 0.179271 10.2206 0.303692L10.2209 0.303844C10.3191 0.35448 10.401 0.439073 10.4515 0.546491L10.4516 0.546702L13.1318 6.23664Z"
                            fill="white" stroke="white" stroke-width="0.5" />
                    </svg>

                    <svg width="17" height="20" viewBox="0 0 17 20" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2"
                            d="M11.7692 2.5H15.6923C16.4769 2.5 17 3 17 3.75V5H0V3.75C0 3 0.653846 2.5 1.30769 2.5H5.23077C5.49231 1.125 6.93077 0 8.5 0C10.0692 0 11.5077 1.125 11.7692 2.5ZM6.53846 2.5H10.4615C10.2 1.75 9.28462 1.25 8.5 1.25C7.71538 1.25 6.8 1.75 6.53846 2.5ZM1.30769 6.25H15.6923L14.5154 18.875C14.5154 19.5 13.8615 20 13.2077 20H3.79231C3.13846 20 2.61538 19.5 2.48462 18.875L1.30769 6.25Z"
                            fill="white" />
                    </svg>
                </div>

                <div class="buttons">
                    <div class="btn btn_secondary">offer private</div>
                    <div class="btn btn_primary">invite to stream</div>
                </div>
            </div>
        </div>

        <div class="chat__messages">

            <div class="chat__messages-line">
                <div class="line">
                    <div class="line_week">
                        <p>Yesterday</p>
                    </div>
                </div>
            </div>

            <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>

        </div>



        <div class="chat__footer">
            <ion-grid>
                <ion-row>
                    <ion-col size="1" class="gallery">
                        <label class="gallery__label-gallery">
                            <img src="../../assets/icon/photo-gallery.svg">
                            <input #inputFile class="gallery__label-gallery_input" type="file">
                        </label>

                    </ion-col>
                    <ion-col size="8" class="input-message">
                        <input type="text" placeholder="To write a message...">
                    </ion-col>
                    <ion-col class="option">
                        <button class="option__item">
                            <img src="../../assets/icon/half-moon.svg" width="20px">
                        </button>
                        <button class="option__item">
                            <img src="../../assets/icon/sending.svg" width="20px">
                        </button>

                        <ion-fab class="option__item">
                            <ion-fab-button class="option__item-fab">
                                <img src="../../assets/icon/language.svg">
                            </ion-fab-button>
                            <ion-fab-list class="option__item-list" side="top" native="true">
                                <ion-fab-button>
                                    <img src="../../assets/icon/language1.svg">
                                </ion-fab-button>
                                <ion-fab-button>
                                    <img src="../../assets/icon/language2.svg">
                                </ion-fab-button>
                                <ion-fab-button>
                                    <img src="../../assets/icon/language3.svg">
                                </ion-fab-button>
                                <ion-fab-button>
                                    <img src="../../assets/icon/language4.svg">
                                </ion-fab-button>
                                <ion-fab-button>
                                    <img src="../../assets/icon/language5.svg">
                                </ion-fab-button>
                            </ion-fab-list>
                        </ion-fab>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

    </div>

</ion-content>