<div class="login">
  <div class="login__content">
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <h1 class="title">Log in</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <form [formGroup]="authForm" class="login-form">
            <div class="login-form__container">
              <div class="name">login</div>
              <input formControlName="email" class="field" [class.field_error]="email.touched && email.errors" type="text" placeholder="Enter you`r login">
              <div class="login-form__container-errors" *ngIf="email.errors && email.touched">
                <span *ngIf="email.errors.required">Required field</span>
              </div>
            </div>
            <div class="login-form__container">
              <div class="name">Password</div>
              <input formControlName="password" class="field" [class.field_error]="password.touched && password.errors" type="password" placeholder="Enter you`r Password">
              <div class="login-form__container-errors" *ngIf="password.errors && password.touched">
                <span *ngIf="password.errors.required">Required field</span>
              </div>
            </div>
            <div class="login-form__container">
              <button class="btn btn_secondary" (click)="signin()">LOG IN</button>
              <a href="http://succubus.online/sign-up/model-registration" class="btn btn_primary">JOIN</a>
            </div>
          </form>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="login__content-options">
          <app-checkbox-component (stateChange)="changeRememberState($event)" text="Remember me"></app-checkbox-component>
          <a href="http://succubus.online/forgetpass">Forgot password ?</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="footer">
          <p>Or log in with</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="social">
          <a href="#" class="social__item social__item_twitter"></a>
        </ion-col>
        <ion-col class="social">
          <a href="#" class="social__item social__item_facebook"></a>
        </ion-col>
        <ion-col class="social">
          <a href="#" class="social__item social__item_google"></a>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>
</div>