.login {
    width: 100%;
    height: 100%;
    background: rgba(17, 22, 26, 0.2);
    backdrop-filter: blur(11px);
    background-image: url("../../assets/img/Login\ Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-main);

    &__content {
        position: relative;
        width: 90%;
        min-height: 90%;
        background: var(--color-black);
        box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 5px;
        box-sizing: border-box;

        &-options {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-top: 18px;

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: var(--color-text-main);
                text-decoration: none;
            }
        }
    }
}

.login-form {
    padding-top: 15px;

    &__container {
        width: 100%;
        padding-top: 20px;
        font-style: normal;

        .name {
            width: 100%;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 5px;
        }

        &-errors {
            position: relative;
            width: 100%;
            min-height: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 7px;
            font-weight: 750;
            font-size: 14px;
            line-height: 21px;
            color: var(--color-error);
        }

        button {
            margin-top: 5px;
        }
    }
}

.footer {
    padding-top: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
        padding-left: 40px;
    }

    &:nth-child(3) {
        padding-right: 40px;
    }

    &__item {
        width: 55px;
        height: 55px;
        box-sizing: border-box;
        border-radius: 2px;
        background-size: cover;
        background-repeat: no-repeat;
    
        &_twitter {
            background-image: url("../../assets/icon/twitter.png");
        }
    
        &_facebook {
            background-image: url("../../assets/icon/facebook.png");
        }
    
        &_google {
            background-image: url("../../assets/icon/google.png");
        }
    }
}