.toggle {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    height: 61px;
    color: var(--color-text-main);
    background-color: var(--color-black);
    padding: 0 6px 10px 6px;
    box-sizing: border-box;

    &_opened {
        height: auto;
    }

    &__header {
        width: 100%;
        height: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 900;
        font-size: 14px;
        line-height: 21px;

        &-button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-text-main);
            color: var(--color-black);
            font-size: 16px;
            font-weight: bold;
            box-sizing: border-box;
            cursor: pointer;
            padding-right: 0.5px;
            margin-right: 10px;

            &_opened {
                font-size: 22px;
                padding-bottom: 5px;
                padding-right: 1px;
            }
        }
    }
}
