<div class="toggle" [class.toggle_opened]="isOpened">
    <div class="toggle__header">
        <div class="toggle__header-text">{{ text }}</div>
        <div class="toggle__header-button"
            (click)="toggleDropown()"
            [class.toggle__header-button_opened]="isOpened"
        >
        {{ isOpened ? '-' : '+' }}
    </div>
    </div>

    <div class="toggle__content">
        <ng-content></ng-content>
    </div>
</div>