.personal {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding-left: 5px;
    padding-right: 5px;

    &__title {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-text-main);
    }

    &__desc {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-secondary);
        margin-top: -10px;
    }

    &__toggle-container {
        position: relative;
        width: 100%;
        min-height: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding: 0 6px 10px 6px;

        .toggle {
            position: relative;
            width: 100%;
            min-height: 50px;
            color: var(--color-text-main);
            background: var(--color-black);
            padding: 0 6px 10px 6px;
            box-sizing: border-box;
            border-radius: 10px;

            &:nth-child(2) {
                padding: 0;
            }

            &__header {
                width: 100%;
                min-height: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;

                h1 {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 21px;
                }

                .p-text {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                .active {
                    background: var(--color-secondary);
                }

            }

            .grid-pad-null {
                margin-left: -9px;
            }

            .see-more {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                margin-left: -9.5px;

                &_arrow-more {
                    position: absolute;
                    width: 10px;
                    top: 22.5px;
                    left: 52px;
                    transform: rotate(-180deg);
                    transition: .5s;
                    cursor: pointer;

                    &:active {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }


    .form {
        width: 100%;
        min-height: 100px;

        &__section {
            width: 100%;
            height: 100%;
            padding-bottom: 20px;

            label {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;

                span {
                    color: var(--color-secondary);
                }
            }

            .textarea {
                background: var(--color-text-main);
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 350;
                font-size: 12px;
                line-height: 18px;
                color: rgb(62, 17, 22, 0.3);
                border-radius: 5px;
                min-height: 70px;
                padding: 5px;
            }

            .inputs {
                padding: 0;
                
                ion-row {
                    padding: 0;
                }

                ion-col {
                    padding: 0;

                    .input {
                        position: relative;
                        width: 100%;
                        min-height: 10px;
                        padding-top: 7px;
                        box-sizing: border-box;

                        input {
                            
                            &:nth-child(2) {
                                margin-left: 5px;
                            }
                            &:nth-child(3) {
                                margin-left: 5px;
                            }
                        }

                        &_dd {
                            width: 50px;
                        }
    
                        &_mm {
                            width: 50px;
                        }
    
                        &_year {
                            width: 68px;
                        }
                        .cm {
                            width: 90px;
                        }

                        .selgrap {
                            width: 143px;
                            margin-top: 7px;
                            padding: 5px;
                            background: var(--color-text-main);
                            border-radius: 5px;
                            font-family: DaxlinePro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 21px;
                            color: var(--color-placeholder);
                        }

                    }

                }

            }

            .select {
                margin-top: 7px;
                padding: 5px;
                background: var(--color-text-main);
                border-radius: 5px;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: var(--color-placeholder);
            }
        }
    }
}