<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
    <div class="personal">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1 class="personal__title">Personal information</h1>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1 class="personal__desc">Description</h1>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="personal__toggle-container">
            <app-toggle-item text="Information">
                <div class="form" *ngIf="personalInfo">
                    <div class="form__section">
                        <label>About me</label>
                        <ion-textarea class="textarea" [(ngModel)]="personalInfo.aboutMe"></ion-textarea>
                    </div>
                    <div class="form__section">
                        <label>Preferences</label>
                        <ion-textarea class="textarea" [(ngModel)]="personalInfo.preferences"></ion-textarea>
                    </div>
                    <div class="btn btn_secondary" (click)="saveInformation()">SAVE CHANGE</div>
                </div>
            </app-toggle-item>
        </div>
        <div class="personal__toggle-container">
            <app-toggle-item text="Personal information">
                <form *ngIf="personalInfo" class="form" [formGroup]="personalInformationForm">
                    <div class="form__section">
                       <ion-grid class="inputs">
                           <ion-row>
                               <ion-col>
                                   <label>Birthdate <span>*</span></label>
                                   <div class="input">
                                    <input [class.input-error]="(day.touched && day.errors)" formControlName="day" class="input_dd" type="text" placeholder="DD"> 
                                    <input [class.input-error]="(month.touched && month.errors)" formControlName="month" class="input_mm" type="text" placeholder="MM">
                                    <input [class.input-error]="(year.touched && year.errors)" formControlName="year" class="input_year" type="text" placeholder="Year">       
                                   </div>
                               </ion-col>
                               <ion-col size="3.6">
                                <label>Hair lenght <span>*</span></label>
                                <div class="input">
                                    <input [class.input-error]="(hairLength.touched && hairLength.errors)" formControlName="hairLength" class="cm" type="text" placeholder="Cm">      
                                </div>
                               </ion-col>
                           </ion-row>
                       </ion-grid>
                    </div>
                    <div class="form__section">
                        <label>Body type <span>*</span></label>
                        <ion-select formControlName="body" class="select" placeholder="Select">
                            <ion-select-option *ngFor="let type of formData.BODY_TYPES" [value]="type.toLowerCase()">{{ type }}</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="form__section">
                        <label>Sexual preferences <span>*</span></label>
                        <ion-select formControlName="preference" class="select" placeholder="Select">
                            <ion-select-option *ngFor="let pref of formData.SEXUAL_PREFERENCES" [value]="pref.toLowerCase()">{{ pref }}</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="form__section">
                        <label>Hair color <span>*</span></label>
                        <ion-select formControlName="hairColor" class="select" placeholder="Select">
                            <ion-select-option *ngFor="let color of formData.HAIR_COLORS" [value]="color.toLowerCase()">{{ color }}</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="form__section">
                        <ion-grid class="inputs">
                            <ion-row>
                                <ion-col>
                                    <label>Eye color <span>*</span></label>
                                    <div class="input">
                                        <ion-select formControlName="eyeColor" class="selgrap" placeholder="Select">
                                            <ion-select-option *ngFor="let color of formData.EYE_COLORS" [value]="color.toLowerCase()">{{ color }}</ion-select-option>
                                        </ion-select>
                                    </div>
                                </ion-col>
                                <ion-col>
                                 <label>Breast size <span>*</span></label>
                                 <div class="input">
                                    <ion-select formControlName="breast" class="select" placeholder="Select">
                                        <ion-select-option *ngFor="let size of formData.BREAST_SIZES" [value]="size">{{ size }}</ion-select-option>
                                    </ion-select>  
                                 </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <div type="submit" class="btn btn_secondary" (click)="changePersonalInformation()">SAVE CHANGE</div>
                </form>
            </app-toggle-item>
        </div>
        <div class="personal__toggle-container">
            <div class="toggle">
                <div class="toggle__header">
                    <h1>Common languages</h1>
                </div>
                <ion-grid class="grid-pad-null">
                    <ion-row *ngFor="let row of languageNames">
                        <ion-col *ngFor="let lang of row; let i = index" [size]="i === 3 ? 3 : null">
                            <app-checkbox-component [twotext]="lang" (stateChange)="onLanguageStateChange($event, lang)" [isChecked]="!!personalInfo[lang]"></app-checkbox-component>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid *ngIf="!isAllLanguage">
                    <ion-row>
                        <ion-col (click)="seeMore()">
                            <p class="see-more">See more</p>
                            <img class="see-more_arrow-more" src="../../assets/icon/arrow-check.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="btn btn_secondary" (click)="saveLanguageChanges()">SAVE CHANGE</div>
            </div>
        </div>
        <div class="personal__toggle-container">
            <div class="toggle">
                <div class="toggle__header">
                    <h1>Birthday</h1>
                    <p class="p-text">
                        Notify my subscribers about my birthday. 
                        <ion-toggle (ionChange)="onBirthdayNotifyChange()" *ngIf="personalInfo" [(ngModel)]="!!personalInfo.birthdayNotification"></ion-toggle>
                    </p>
                </div>
            </div>
        </div>
        <div class="personal__toggle-container">
            <div class="toggle">
                <div class="toggle__header">
                    <h1>Selling social networks</h1>
                    <p class="p-text">You will get% from the sale of your linked social networks.</p>
                    <div class="socials">
                        <app-socials-component [activeSocials]="activeSocials | async"></app-socials-component>
                    </div>
                </div> 
            </div>
        </div>
        <div class="personal__toggle-container">
            <div class="toggle">
                <div class="toggle__header">
                    <h1>Subscribers</h1>
                    <p class="p-text">
                        Notify all users when the stream starts.
                        <ion-toggle (ionChange)="onSubscribersNotifyChange()" *ngIf="personalInfo" [(ngModel)]="!!personalInfo.streamStartNotification"></ion-toggle>
                    </p>
                </div>    
            </div>
        </div>

    </div>
</ion-content>