<div class="item">
    <div class="item__container">
        <div>
            <span class="ellipsis bold">
                {{ item.name }}
            </span>
            <span class="middle bold">
                {{ item.section }}
            </span>
        </div>

        <span class="small">{{ item.id }}</span>
        
    </div>

    <div class="item__container">
        <span class="bold">{{ item.tokens ? item.tokens : 0 }}</span>
        {{ item.price }}
    </div>

    <div class="item__container">
        <div>
            <span class="bold">{{ item.time | date: 'dd.MM.yyyy' }}</span><br>
            <span class="middle">{{ item.time | date: 'HH:mm:ss' }}</span>
        </div>
        
        <span class="done bold">{{ item.status }}</span>
    </div>
</div>