.item {
    width: 100%;
    height: 70px;
    background-color: var(--color-background);
    margin-bottom: 5px;
    height: 62px;
    border-radius: 10px;
    padding: 6px 16px 6px 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--color-text-main);
    font-family: DaxlinePro;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .ellipsis {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 85px;
            overflow: hidden;
        }

        .bold {
            font-weight: bold;
        }

        .middle {
            font-size: 10px;
        }

        .small {
            font-size: 8px;
            font-weight: 250;
        }

        .done {
            color: var(--color-done);
        }
    }
}