<div class="story">
    <div class="story__container">
        <div class="story__top">
            <div class="story__top-flashlight">
                <app-flash-toggle></app-flash-toggle>
            </div>
            <div class="story__top-close" routerLink="/home">
                <img src="../../../assets/icon/close.png">
            </div>
        </div>
        <div class="story__bottom">
            <label class="story__bottom-gallery">
                <img src="../../../assets/icon/gallery.png">
                <input (change)="loadFile($event)" #inputFile class="input" type="file">
            </label>
            <div class="story__bottom-photo" (click)="takePhoto()" (touchmove)="onTouchMove($event)">
                <div class="story__bottom-photo-container"></div>
            </div>
            <div class="story__bottom-frontalka" (click)="switchCamera()">
                <img src="../../../assets/icon/frontalka.png">
            </div>
        </div>
    </div>
</div>