.story {
    width: 100%;
    height: 100vh;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 40px 16px 30px 16px;
    }

    &__top {
        position: relative;
        width: 100%;
        min-height: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-flashlight {
            width: 50px;
            height: 50px;
        }

        &-close {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            right: 0;
        }

    }

    &__bottom {
        position: relative;
        width: 100%;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-gallery {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            left: 0;

            .input {
                display: none;
            }
        }

        &-photo {
            position: absolute;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 50%;
            top: 0;

            &-container {
                width: 46px;
                height: 46px;
                background: var(--color-text-main);
                border-radius: 50%;
                transition: .3s;

                &:active {
                    background: var(--color-error);
                }
            }
        }

        &-frontalka {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            right: 0;
        }

    }

}