.counter {
    width: 48px;
    height: 21px;
    border-radius: 5px;
    background: rgba(17, 22, 26, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        color: var(--color-text-main);
    }

}