<div class="counter">
    <p>
        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 0.700699C2.81938 0.700699 0.92875 1.89843 0 3.64788C0.92875 5.39733 2.81938 6.59507 5 6.59507C7.18062 6.59507 9.07125 5.39733 10 3.64788C9.07125 1.89843 7.18062 0.700699 5 0.700699ZM7.46562 2.26389C8.05312 2.61755 8.55125 3.09086 8.925 3.64788C8.55241 4.20484 8.05411 4.67741 7.46562 5.03188C6.72941 5.47552 5.87398 5.71125 5.00031 5.71125C4.12665 5.71125 3.27122 5.47552 2.535 5.03188C1.94679 4.67709 1.44855 4.20459 1.07562 3.64788C1.47274 3.0544 2.01226 2.55729 2.65063 2.19669C2.51324 2.55285 2.46892 2.93501 2.52143 3.31076C2.57393 3.68651 2.72171 4.04478 2.95224 4.35522C3.18277 4.66566 3.48925 4.91912 3.84572 5.09411C4.20219 5.2691 4.59813 5.36046 5 5.36046C5.40187 5.36046 5.79781 5.2691 6.15428 5.09411C6.51075 4.91912 6.81723 4.66566 7.04776 4.35522C7.27829 4.04478 7.42607 3.68651 7.47857 3.31076C7.53108 2.93501 7.48676 2.55285 7.34937 2.19669C7.38812 2.2185 7.4275 2.2409 7.46562 2.26389ZM5 2.76373C4.99992 2.9983 4.90103 3.22323 4.7251 3.38904C4.54917 3.55485 4.3106 3.64796 4.06187 3.64788C3.81315 3.6478 3.57465 3.55455 3.39883 3.38862C3.22302 3.2227 3.12429 2.99771 3.12438 2.76314C3.12446 2.52857 3.22334 2.30364 3.39927 2.13782C3.57521 1.97201 3.81378 1.8789 4.0625 1.87898C4.31122 1.87906 4.54973 1.97232 4.72554 2.13824C4.90136 2.30416 5.00008 2.52916 5 2.76373Z" fill="white"/>
        </svg>
        {{ count }}
    </p>
</div>