.card {
    position: relative;
    width: 100%;
    height: 40px;
    background: #282733;
    border-radius: 5px;
    margin-top: 5px;
    padding: 4px 5px 5px 5px;

    &_priority {
        border: 2px solid var(--color-priority);
        padding: 2px 5px 5px 5px;
    }

    &_orange {
        background: var(--color-secondary);
    }

    &_blue {
        background: var(--color-primary); 
    }

    ion-grid {
        padding: 0;

        ion-row {
            ion-col {
                padding: 0;

                .avatar {
                    img {
                        border-radius: 50%;
                    }
                }

                .username {
                    &-user {
                        margin: 0;
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 750;
                        font-size: 12px;
                        line-height: 18px;
                        padding-left: 7px;
                    }
                    &-rank {
                        margin: 0;
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 750;
                        font-size: 12px;
                        line-height: 105%;
                        padding-left: 7px;
                        margin-top: -2px;

                        .rep {
                            font-family: DaxlinePro;
                            font-style: normal;
                            font-weight: 250;
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }

                .premium {
                    &-pre {
                        margin: 0;
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 750;
                        font-size: 12px;
                        line-height: 18px;
                    }
                    &-num {
                        margin: 0;
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 750;
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }
        }
    }

}