// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --color-primary: #3477DB;
  --color-secondary: #F87702;
  --color-done: #5C9848;
  --color-text-main: #ffffff;
  --color-text-muted: rgba(255, 255, 255, 3);
  --color-black: #11161A;
  --color-placeholder: #3E1116;
  --color-error: #EE4B40;
  --color-background: #2D2C3A;
  --color-priority: #F6BA21;
}