<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="prices">

        <div class="title title_small">Prices</div>

        <div class="prices__container" *ngIf="canRender">
            <div class="range" *ngFor="let item of ranges">
                <app-range [data]="item"></app-range>
            </div>
            <div class="btn btn_secondary" (click)="savePrices()">SAVE CHANGE</div>
        </div>

        <div class="prices__container">
            <div class="range">
                <p>My stream menu</p>
                <p class="pstream">
                    The menu on the stream will show users a description of your wishes.
                    You can raspipit prices for certain services in the stream for donation.
                </p>
                <div class="range__section">
                    <label>Description</label>
                    <ion-textarea [(ngModel)]="streamDescription" class="textarea"></ion-textarea>
                </div>
            </div>
            <div class="btn btn_secondary" (click)="saveStreamMenuDescription()">SAVE CHANGE</div>
        </div>

    </div>

</ion-content>