.prices {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .title {
        margin-left: 6px;
    }

    &__container {
        background-color: var(--color-black);
        width: 100%;
        border-radius: 10px;
        padding: 10px 10px 10px 6px;
        box-sizing: border-box;
        margin-top: 20px;

        .btn {
            margin-top: 50px;
        }

        .range {
            width: 100%;
            padding-bottom: 20px;

            p {
                position: relative;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                color: #ffffff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .pstream {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 350;
                font-size: 12px;
                line-height: 18px;
                color: #ffffff;
            }

            &__section {
                width: 100%;
                height: 100%;
    
                label {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #ffffff;
                }
    
                .textarea {
                    background: var(--color-text-main);
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 350;
                    font-size: 12px;
                    line-height: 18px;
                    color: rgb(62, 17, 22, 0.3);
                    border-radius: 5px;
                    min-height: 250px;
                    padding: 5px;
                }

            }

        }
    }
}