.test {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__item {
        width: 100px;
        height: 100px;
        background-color: red;
    }
}

.img {
    width: 100%;
    height: 100vh;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
}