/*menu*/
.toolbar {
    border-bottom: 1px solid #262A2E;
    min-height: 50px;

    &__menu-burger {
        position: absolute;
        top: 3px;
        z-index: 999999;
    }

    &__img-logo {
        display: block;
        margin: 0 auto;
    }

}

.button-inner {
    background: var(--color-secondary);
    border-radius: 5px;
}

.content-menu {
    --background: var(--color-black);
    background-color: var(--color-black);
    min-height: 100%;

    &__ion-item {
        
        width: 100%;
        height: 100%;
    }

    &__item-container {
        
        width: 100%;
        min-height: 70px;
        display: flex;
        align-items: center;
        padding-left: 20px;

        &__item-list {
            position: relative;
            width: 100%;
            min-height: 70px;

            .item-list-hover {
                position: relative;
                width: 100%;
                min-height: 70px;
                padding-left: 15px;
                padding-top: 20px;
                transition: .5s;

                img {
                    opacity: 0.3;
                }

                p {
                    position: absolute;
                    font-family: DaxlinePro;
                    margin-top: -25px;
                    margin-left: 28px;
                    font-style: normal;
                    font-weight: 250;
                    font-size: 16px;
                    line-height: 24px;
                    opacity: 0.3;
                    color: var(--color-text-main);
                }

                .check {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 33%;
                    right: 7%;
                    background-image: url('../assets/icon/arrow-check.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0.3;
                    transform: rotate(-180deg);
                    cursor: pointer;
                    transition: .5s;
                }

                .list {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    top: 35px;
                    transition: .5s;
                    opacity: 0;
                    transform: translateX(-100%);

                    li {
                        margin-left: 29px;
                        margin-top: 0;
                        list-style: none;
                    }

                    li > span {
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 250;
                        font-size: 12px;
                        line-height: 18px;
                        opacity: 0.3;
                        color: var(--color-text-main);
                        text-decoration: none;
                        transition: .5s;

                        &:hover {
                            opacity: 1;
                        }
                    }

                }

                &:hover {
                    min-height: 100px;
                }

                &:hover > .check {
                    top: 23%;
                    transform: rotate(360deg);
                }

                &:hover > .list {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &__item {
            position: relative;
            width: 100%;
            min-height: 40px;
            display: flex;
            align-items: center;
            padding-left: 15px;

            span {
                font-family: DaxlinePro;
                margin-left: 5px;
                font-style: normal;
                font-weight: 250;
                font-size: 16px;
                line-height: 24px;
                opacity: 0.3;
                color: var(--color-text-main);
                text-decoration: none;
            }

            img {
                opacity: 0.3;
            }

        }

    }

    &__container-avatar {
        position: relative;
        width: 100%;
        min-height: 120px;
        border-bottom: 1px solid #262A2E;
    }
}

.info-profile {
    width: 100%;
    min-height: 120px;
    padding-left: 20px;

    &__avatar-user {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // background-image: url('../assets/img/user-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 10px;
    }

    &__vip {
        position: absolute;
        width: 20px;
        height: 10px;
        padding: 6px;
        background: #F6BA21;
        border-radius: 2px;
        margin-top: 85px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 7px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px;
    }

    &__info_user {
        position: absolute;
        width: 50%;
        min-height: 10px;
        top: 15%;
        left: 48%;
        padding-right: 15px;
        box-sizing: border-box;
    }

    &__user-name {
        position: absolute;
        top: -20px;
        color: #ffffff;
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }

    &__user-status {
        position: absolute;
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: #5C9848;
        margin-top: -2px;
        margin-left: 74px;
    }

    &__img-status {
        position: absolute;
        margin-top: -1px;
        margin-left: 61px;
    }

    &__img-info {
        position: absolute;
        margin-top: 1px;
        margin-left: 112px;
    }

    &__floor {
        position: absolute;
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
        margin-top: 15px;

        span {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 250;
            font-size: 10px;
            line-height: 15px;
            margin-left: 2px;
            opacity: 0.3;
        }
    }

    &__ellipse {
        width: 9px;
        position: absolute;
        margin-top: 44px;
    }

    &__succoins {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        margin-top: 40px;
        margin-left: 15px;
    }
}

.btn-plus {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #11161A;
    outline: none;
    margin-top: 70px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__input {
        display: none;
    }
}

.plus-icon {
    position: absolute;
    font-size: 15px;
    margin-top: 0;
}

.active-list {
    background: var(--color-secondary);
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: inset 0px 2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2px 16px 0px rgba(0,0,0,0.75);

    span {
        font-weight: bold;
        opacity: 1;
    }

    img {
        opacity: 1; 
    }

    &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 15px;
        left: -22px;
        background: var(--color-secondary);
        clip-path: polygon(0 0, 100% 49%, 0 100%, 0% 50%);
    }
}
/*menu!*/
