<ion-app>

  <ion-menu *ngIf="isShowMenu" side="start" menuId="first" contentId="main">

    <ion-header>
      <ion-toolbar class="toolbar">
        <ion-menu-button class="toolbar__menu-burger"></ion-menu-button>
        <img class="toolbar__img-logo" src="assets/img/logo.png" alt="">
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-list class="content-menu">
        <div class="content-menu__container-avatar">
          <div class="info-profile" *ngIf="userInfo">

            <div class="info-profile__avatar-user" style.backgroundImage="url({{ userInfo.avatar }})"></div>
            <div class="info-profile__vip">
              {{ userInfo.accountType }}
            </div>
            <label class="btn-plus">
              <ion-icon class="plus-icon" name="add-outline"></ion-icon>
              <input #inputFile (change)="loadImage($event)" class="btn-plus__input" type="file">
            </label>

            <div class="info-profile__info_user">
              <p class="info-profile__user-name">{{ userInfo.nickName }}</p>
              
              <ng-container *ngIf="userInfo.verified">
                <img src="../assets/icon/status.png" class="info-profile__img-status">
                <p class="info-profile__user-status">Verified</p>
              </ng-container>
              
              <!-- <img src="../assets/icon/info.png" class="info-profile__img-info"> -->
              <p class="info-profile__floor">{{ userInfo.gender }} <span>({{ userInfo.persons | personsPipe }})</span></p>
              <img src="../assets/icon/ellipse.svg" class="info-profile__ellipse">
              <p class="info-profile__succoins">{{ userInfo.succoins }}</p>
              <app-rep-progress [value]="userInfo.kingOfSuccubas.rankPoints"></app-rep-progress>
            </div>

          </div>
        </div>

        <div class="content-menu__ion-item" *ngFor="let item of menu">
          <div class="content-menu__item-container">
            <ng-container 
              [ngTemplateOutlet]="item.subitems ? list : standart"
              [ngTemplateOutletContext]="{item: item}"
            ></ng-container>
          </div>
        </div>

        <ng-template #standart let-item='item'>
          <div (click)="closeMenu()" [routerLink]="item.path" routerLinkActive="active-list" class="content-menu__item-container__item">
            <img src="../assets/icon/{{ item.icon }}">
            <span>{{ item.name }}</span>
          </div>
        </ng-template>

        <ng-template #list let-item='item'>
          <div class="content-menu__item-container__item-list">
            <div [class.item-list-hover]="item.subitems">
              <img src="../assets/icon/{{item.icon}}">
              <p>{{ item.name }}</p>
              <span class="check"></span>
              <ul class="list" *ngIf="item.subitems">
                <li (click)="closeMenu()" *ngFor="let subitem of item.subitems" [routerLink]="subitem.path">
                  <span>{{ subitem.name }}</span>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>