<div class="line">
    <ion-grid>
        <ion-row>
            <ion-col size="11" class="messages">
                <ion-grid>
                    <ion-row>
                        <ion-col size="9" class="input">
                            <input [(ngModel)]="message" class="input_messages" type="text" placeholder="To write a message...">
                        </ion-col>
                        <ion-col class="options"> 
                            <button class="options_button">
                                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.80623 6.67674C8.42137 5.41276 7.17836 3.81969 5.51245 0.939647L6.55193 0.316406C8.18261 3.13555 9.35227 4.61295 10.6115 5.76224C11.4908 6.56479 12.4073 7.20597 13.5865 8.03086C14.1364 8.41552 14.7434 8.84014 15.4303 9.3397L14.7291 10.3391C14.0964 9.87895 13.516 9.47278 12.9762 9.09506C11.757 8.24182 10.7453 7.5338 9.80623 6.67674Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7412 10.181C13.8374 13.0129 11.2232 15.0582 8.14277 15.0582C4.31188 15.0582 1.20634 11.8964 1.20634 7.99615C1.20634 4.883 3.18582 2.23753 5.93564 1.29876C5.93539 1.343 5.92849 1.38736 5.91505 1.42836C4.98891 4.25273 5.89784 6.81229 7.67102 8.45763C9.41077 10.0719 11.9867 10.8196 14.4794 10.1781C14.544 10.1615 14.6205 10.1581 14.6971 10.1714C14.7128 10.1741 14.7276 10.1774 14.7412 10.181ZM15.957 10.3351C16.2324 9.37958 15.132 8.74333 14.1837 8.98737C10.0082 10.062 5.53379 6.46952 7.05931 1.81729C7.37002 0.869725 6.77102 -0.2382 5.83008 0.0450471C2.45945 1.0597 0 4.23551 0 7.99615C0 12.5747 3.64564 16.2864 8.14277 16.2864C11.8421 16.2864 14.9653 13.7748 15.957 10.3351Z" fill="white"/>
                                </svg>
                            </button>
                            <button class="options_button" (click)="sendMessage()">
                                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 1L7.75 9.79938" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16 1L10.75 16.999L7.75 9.79946L1 6.59966L16 1Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            <ion-col class="camera">
                <p>
                    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.8 2.22222H16.313L14.3 0H7.7L5.687 2.22222H2.2C0.99 2.22222 0 3.22222 0 4.44444V17.7778C0 19 0.99 20 2.2 20H19.8C21.01 20 22 19 22 17.7778V4.44444C22 3.22222 21.01 2.22222 19.8 2.22222ZM11 16.6667C7.964 16.6667 5.5 14.1778 5.5 11.1111H3.3L6.05 8.33333L8.8 11.1111H6.6C6.6 13.5667 8.569 15.5556 11 15.5556C11.638 15.5556 12.243 15.4111 12.782 15.1667L13.596 15.9889C12.815 16.4 11.946 16.6667 11 16.6667ZM15.95 13.8889L13.2 11.1111H15.4C15.4 8.65556 13.431 6.66667 11 6.66667C10.362 6.66667 9.757 6.81111 9.218 7.05556L8.404 6.24444C9.185 5.82222 10.054 5.55556 11 5.55556C14.036 5.55556 16.5 8.04445 16.5 11.1111H18.7L15.95 13.8889Z" fill="white"/>
                    </svg>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>