.line {
    width: 100%;
    min-height: 35px;

    ion-grid {
        padding: 0;

        ion-row {
            .messages {
                min-height: 35px;
                padding: 0;
                background: rgba(17, 22, 26, 0.4);
                border-radius: 5px;

                ion-grid {
                    padding: 0;

                    ion-row {

                        .input {
                            padding: 0;
                            min-height: 35px;

                            &_messages {
                                position: absolute;
                                width: 95%;
                                right: 0;
                                min-height: 35px;
                                background: none;
                                color: var(--color-text-main);
                                font-family: DaxlinePro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 15px;
                            }

                            &_messages::-webkit-input-placeholder {
                                font-family: DaxlinePro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 15px;
                                color: var(--color-text-main);
                                opacity: 0.9;
                            }
                        }

                        .options {
                            padding: 0;
                            min-height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &_button {
                                position: absolute;
                                background: none;
                                outline: none;
                                border: none;
                                padding: 0;

                                &:nth-child(2) {
                                   right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .camera {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5px;

                p {
                    margin: 0;
                }
            }
        }
    }

}