.call {
    width: 100%;
    min-height: 45px;
    margin-top: 5px;
    border-radius: 5px;
    background: var(--color-black);
    padding: 5px;

    ion-grid {
      padding: 0;

      .img {
        padding: 0;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_indicator {
          position: absolute;
          width: 10px;
          height: 10px;
          background: var(--color-done);
          border: 1px solid var(--color-background);
          border-radius: 50%;
          z-index: 10;
          top: 75%;
          left: 65%;
        }

        img {
          position: absolute;
          border-radius: 50%;
          left: 0;
        }
      }

      .info {
        padding: 0;
        min-height: 45px;
        padding-left: 2px;

        &-name {
          font-family: DaxlinePro;
          font-style: normal;
          font-weight: 750;
          font-size: 12px;
          line-height: 18px;
          margin: 0;
          color: var(--color-text-main);
        }

        .state-calls {
          font-family: DaxlinePro;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 15px;
          margin: 0;
          padding-top: 10px;
          color: var(--color-text-main);

          &_time {
            color: var(--color-text-main);
          }

          &_received {
            color: var(--color-done);
          }

          &_canceled {
            color: var(--color-error);
          }

          &_skipped {
            color: var(--color-secondary);
          }
        }
      }

      .time {
        padding: 0;
        min-height: 45px;

        &-state {
          position: absolute;
          top: 0;
          right: 0;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          line-height: 12px;
          color: var(--color-text-main);
          opacity: 0.5;
          margin: 0;
        }

        svg {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  