<div class="call" (click)="selectItem()">
    <ion-grid>
        <ion-row>
            <ion-col class="img">
                <div class="img_indicator"></div>
                <img [src]="data.avatar">
            </ion-col>
            <ion-col size="9" class="info">
                <p class="info-name">{{ data.name }}</p>
                <p class="state-calls state-calls_received" *ngIf="isReceived">Received call:
                    <span class="state-calls_time">{{ data.duration | appDurationPipe }}</span>
                </p>
                <p class="state-calls state-calls_canceled" *ngIf="isCanceled">Canceled</p>
                <p class="state-calls state-calls_skipped" *ngIf="isSkipped">Skipped</p>
            </ion-col>
            <ion-col class="time">
                <p class="time-state">{{ data.datetime }}</p>
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.2904 15.7846C3.16118 15.8942 3.00258 15.9655 2.83323 15.9903C2.66388 16.0151 2.4908 15.9922 2.33432 15.9243C2.17784 15.8565 2.04444 15.7465 1.9498 15.6073C1.85515 15.4681 1.80319 15.3054 1.8 15.1384V13.1692C1.32261 13.1692 0.864773 12.9842 0.527208 12.6549C0.189642 12.3256 0 11.879 0 11.4133V5.26767C0 4.80198 0.189642 4.35536 0.527208 4.02607C0.864773 3.69677 1.32261 3.51178 1.8 3.51178H11.7C12.1774 3.51178 12.6352 3.69677 12.9728 4.02607C13.3104 4.35536 13.5 4.80198 13.5 5.26767V11.4133C13.5 11.879 13.3104 12.3256 12.9728 12.6549C12.6352 12.9842 12.1774 13.1692 11.7 13.1692H7.2027L3.2904 15.7846ZM4.05 13.0691C4.13201 13.0686 4.21255 13.0478 4.284 13.0085L6.4035 11.5704C6.55434 11.4681 6.73367 11.4133 6.9174 11.4133H10.8C11.0387 11.4133 11.2676 11.3208 11.4364 11.1561C11.6052 10.9915 11.7 10.7682 11.7 10.5353V6.14561C11.7 5.91277 11.6052 5.68946 11.4364 5.52481C11.2676 5.36016 11.0387 5.26767 10.8 5.26767H2.7C2.46131 5.26767 2.23239 5.36016 2.0636 5.52481C1.89482 5.68946 1.8 5.91277 1.8 6.14561V10.5353C1.8 11.0094 2.1861 11.3975 2.7 11.4133C3.069 11.4273 3.3363 11.4861 3.4596 11.6117C3.5748 11.7293 3.5811 11.9278 3.6 12.3053C3.6027 12.3606 3.6027 12.4607 3.6 12.6301C3.6 12.7465 3.64741 12.8582 3.7318 12.9405C3.81619 13.0228 3.93065 13.0691 4.05 13.0691ZM14.4 8.79349C14.3971 8.90175 14.3971 9.01007 14.4 9.11833V8.79349C14.418 8.41597 14.4252 8.21756 14.5404 8.09991C14.6637 7.97437 14.931 7.91555 15.3 7.9015C15.8139 7.8857 16.2 7.49764 16.2 7.02355V2.63383C16.2 2.40099 16.1052 2.17768 15.9364 2.01303C15.7676 1.84839 15.5387 1.75589 15.3 1.75589H7.2C6.96131 1.75589 6.73239 1.84839 6.5636 2.01303C6.39482 2.17768 6.3 2.40099 6.3 2.63383H4.5V1.75589C4.5 1.2902 4.68964 0.843581 5.02721 0.514288C5.36477 0.184995 5.82261 0 6.3 0H16.2C16.6774 0 17.1352 0.184995 17.4728 0.514288C17.8104 0.843581 18 1.2902 18 1.75589V7.9015C18 8.36719 17.8104 8.81381 17.4728 9.1431C17.1352 9.47239 16.6774 9.65739 16.2 9.65739V11.6266C16.1968 11.7936 16.1448 11.9563 16.0502 12.0955C15.9556 12.2347 15.8222 12.3447 15.6657 12.4126C15.5092 12.4804 15.3361 12.5033 15.1668 12.4785C14.9974 12.4538 14.8388 12.3824 14.7096 12.2728L14.4 12.0656V8.79437V8.79349Z" 
                        fill="white" />
                </svg>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>