<div class="content">
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="user">
                    <div class="user_profile">
                        <img src="../../assets/img/girl.png">
                    </div>
                    <div class="user_indicator"></div>
                </ion-col>
                <ion-col size="10" class="messages">
                    <div class="messages_text">
                        <span>Diana Madnes</span>
                        <p>Вы: Привет как дела ? Не хочешь сегод...</p>
                    </div>
                </ion-col>
                <ion-col class="time">
                    <span>14:50</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>