.content {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 5px 10px;
    padding-bottom: 10px;

    .list {
        width: 100%;
        min-height: 10px;
        margin-top: 9px;

        ion-grid {
            padding: 0;

            .user {
                padding: 0;

                &_profile {
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                }

                &_indicator {
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    border: 1px solid #11161A;
                    background: var(--color-done);
                    top: 26px;
                    left: 26px;
                }

            }

            .messages {
                padding: 0;

                &_text {
                    padding-left: 10px;

                    span {
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 750;
                        font-size: 12px;
                        line-height: 18px;
                        color: var(--color-text-main);
                    }

                    p {
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 350;
                        font-size: 10px;
                        line-height: 15px;
                        color: var(--color-text-main);
                        margin: 0;
                    }

                }
            }

            .time {
                padding: 0;

                span {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                    opacity: 0.8;
                    color: var(--color-text-main);
                }

            }

        }

    }

}