.story {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 40px 16px 30px 16px;
    }

    &__top {
        position: relative;
        width: 100%;
        min-height: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-close {
            margin-top: 12px;
            cursor: pointer;
        }

        &-progress {
            position: relative;
            width: 100%;
            height: 2px;
            background: #ffffff;
            opacity: 1.3;
            border-radius: 15px;

            &-line {
                height: 100%;
                background: var(--color-secondary);
                transition: .3s;
            }
        }

        &-time {
            width: 51px;
            height: 23px;
            background: rgba(17, 22, 26, 0.7);
            border-radius: 5px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 750;
                font-size: 8px;
                line-height: 12px;
                color: #ffffff;
                margin-left: 3px;
            }

        }

        &-premium {
            width: 45px;
            height: 17px;
            background: var(--color-secondary);
            border-radius: 3px;
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            P {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 9px;
                line-height: 12px;
                color:  #2D2C3A;
            }
        }

    }

    &__bottom {
        position: relative;
        width: 100%;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .btn {
            margin-bottom: 10px;
        }
    }

}