<div class="story" style.backgroundImage="url({{ mediaData.type === StoryFileType.IMAGE ? mediaData.data : '' }})">
    <div class="story__container">
        <div class="story__top">
            <div class="story__top">

                <div class="story__top-progress">
                    <div [style.width.%]="progress" class="story__top-progress-line"></div>
                </div>

                <div class="story__top-close" routerLink="/stories/start-story">
                    <img src="../../../assets/icon/close.png">
                </div>

                <!-- <div class="story__top-time">
                    <img src="../../../assets/icon/vector.png">
                    <p>23h ago</p>
                </div> -->
                <!-- <div class="story__top-premium">
                    <p>PREMIUM</p>
                </div> -->
            </div>
        </div>

        <video autoplay #video [controls]="false" [style.display]="mediaData.type === StoryFileType.VIDEO ? 'block' : 'none'" [src]="videoUrl"></video>

        <div class="story__bottom">
            <div class="btn btn_delete" routerLink="/stories/start-story">DELETE STORIE</div>
            <div class="btn btn_primary" *ngIf="!isUploadState" (click)="setUpload()">UPLOAD STORIES</div>
            <!-- <div class="btn btn_secondary">UPLOAD PREMIUM STORIES</div> -->
        </div>
    </div>
</div>
