.switch {
    width: 187px;
    height: 28px;
    background: rgba(17, 22, 26, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    color: var(--color-text-main);

    ion-grid {
        padding: 0;

        ion-row {
            .section {
                padding: 0;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                span {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 750;
                    font-size: 12px;
                    line-height: 18px;
                    opacity: 0.3;
                }

                &-active {
                    background: var(--color-secondary);
                    border-radius: 5px;
            
                    span {
                        opacity: 1;
                    }
                }

            }
        }
    }
}