<div class="switch">
    <ion-grid>
        <ion-row>
            <ion-col class="section section-active">
                <span>Free</span>
            </ion-col>
            <ion-col class="section">
                <span>Paid</span>
            </ion-col>
            <ion-col class="section">
                <span>Premium</span>
            </ion-col>
            <ion-col class="section">
                <span>VIP</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>