<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="income">
        <div class="income__header">
            <div class="title title_small">Income</div>
            <app-income-period (changePeriod)="onPeriodChange($event)"></app-income-period>
        </div>

        <div class="income__range" *ngIf="isShowRange">
            <div class="income__range-item datepicker">
                <img src="assets/icon/calendar.svg" alt="">
                <ion-datetime (ionChange)="onStartDateChange($event)" displayFormat="YYYY-MM-DD" min="2018" [max]="maxDate" placeholder="Start date"></ion-datetime>
                <ion-datetime (ionChange)="onEndDateChange($event)" displayFormat="YYYY-MM-DD" min="2018" [max]="maxDate" placeholder="End date"></ion-datetime>
                <div (click)="applyFilter()" class="datepicker__button">Filter</div>
            </div>

            <div class="income__range-item total">
                <p>
                    <img src="../../assets/icon/ellipse.svg">
                    <span class="numbers">{{ (incomeData | async) | appTotalPaidPipe }}</span>
                    <span class="texts">Paid for the selected period</span>
                </p>
            </div>
        </div>

        <div class="income__table">
            <app-sort-line (sortChange)="onSortChange($event)"></app-sort-line>

            <div class="income__table-container" *ngIf="(incomeData | async) as incomes">
                <app-income-item *ngFor="let item of incomes" [item]="item"></app-income-item>
            </div>
        </div>

    </div>

</ion-content>