.income {
    padding: 20px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 0 11px;
    }

    &__range {
        margin-top: 20px;

        &-item {
            width: 100%;
            background-color: var(--color-black);
            border-radius: 5px;
            padding: 0 11px;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            p {

                img {
                    position: absolute;
                    width: 10px;
                    margin-top: 5px;
                }

                .numbers {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 21px;
                    margin-left: 13px;
                    color: var(--color-secondary);
                }

                .texts {
                    position: absolute;
                    padding-left: 5px;
                    margin-top: 3.4px;
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 750;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--color-text-main);
                }
            }
        }

        .datepicker {
            height: 30px;
            margin-bottom: 5px;
            justify-content: space-between;

            &__button {
                font-family: DaxlinePro;
                background-color: var(--color-secondary);
                color: var(--color-text-main);
                height: 20px;
                border-radius: 5px;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                margin-left: 5px;
                flex-shrink: 0;
            }

            ion-datetime {
                background-color: var(--color-text-main);
                height: 20px;
                width: 100%;
                border-radius: 5px;
                padding: 2px 0 0 5px !important;
                font-size: 12px;
                margin-left: 5px;
            }
        }

        .total {
            height: 41px;
        }
    }

    &__table {
        margin-top: 20px;
        width: 100%;

        &-container {
            margin-top: 5px;
            border-radius: 15px;
            width: 100%;
            background-color: var(--color-black);
            padding: 7px 6px 0 6px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }
    }
}
