<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="chat-tabs">

        <div class="title title_small">Chat</div>

        <div class="chat-tabs__tabscontainer">
            <div class="chat-tabs__tabscontainer_tabs">
                <ion-grid>
                    <ion-row>
                        <ion-col class="tab" [class.tab_active]="activeTab == 'chat'" (click)="selectTab('chat')">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.5592 13.8115C2.45869 13.9074 2.33534 13.9699 2.20362 13.9915C2.07191 14.0132 1.93729 13.9932 1.81558 13.9338C1.69387 13.8744 1.59012 13.7782 1.51651 13.6564C1.4429 13.5346 1.40248 13.3922 1.4 13.2461V11.523C1.0287 11.523 0.672601 11.3611 0.41005 11.073C0.1475 10.7849 0 10.3941 0 9.98662V4.60921C0 4.20173 0.1475 3.81094 0.41005 3.52281C0.672601 3.23468 1.0287 3.07281 1.4 3.07281H9.1C9.4713 3.07281 9.8274 3.23468 10.0899 3.52281C10.3525 3.81094 10.5 4.20173 10.5 4.60921V9.98662C10.5 10.3941 10.3525 10.7849 10.0899 11.073C9.8274 11.3611 9.4713 11.523 9.1 11.523H5.6021L2.5592 13.8115ZM3.15 11.4354C3.21379 11.435 3.27643 11.4168 3.332 11.3824L4.9805 10.1241C5.09782 10.0346 5.2373 9.98661 5.3802 9.98662H8.4C8.58565 9.98662 8.7637 9.90568 8.89497 9.76162C9.02625 9.61755 9.1 9.42216 9.1 9.21842V5.37741C9.1 5.17367 9.02625 4.97827 8.89497 4.83421C8.7637 4.69014 8.58565 4.60921 8.4 4.60921H2.1C1.91435 4.60921 1.7363 4.69014 1.60503 4.83421C1.47375 4.97827 1.4 5.17367 1.4 5.37741V9.21842C1.4 9.63324 1.7003 9.97279 2.1 9.98662C2.387 9.99891 2.5949 10.0504 2.6908 10.1602C2.7804 10.2632 2.7853 10.4368 2.8 10.7671C2.8021 10.8155 2.8021 10.9031 2.8 11.0513C2.8 11.1532 2.83687 11.2509 2.90251 11.3229C2.96815 11.395 3.05717 11.4354 3.15 11.4354ZM11.2 7.6943C11.1978 7.78903 11.1978 7.88381 11.2 7.97854V7.6943C11.214 7.36398 11.2196 7.19036 11.3092 7.08742C11.4051 6.97757 11.613 6.9261 11.9 6.91381C12.2997 6.89998 12.6 6.56044 12.6 6.14561V2.3046C12.6 2.10086 12.5263 1.90547 12.395 1.7614C12.2637 1.61734 12.0857 1.5364 11.9 1.5364H5.6C5.41435 1.5364 5.2363 1.61734 5.10503 1.7614C4.97375 1.90547 4.9 2.10086 4.9 2.3046H3.5V1.5364C3.5 1.12892 3.6475 0.738133 3.91005 0.450002C4.1726 0.16187 4.5287 0 4.9 0H12.6C12.9713 0 13.3274 0.16187 13.5899 0.450002C13.8525 0.738133 14 1.12892 14 1.5364V6.91381C14 7.32129 13.8525 7.71208 13.5899 8.00021C13.3274 8.28834 12.9713 8.45021 12.6 8.45021V10.1733C12.5975 10.3194 12.5571 10.4618 12.4835 10.5836C12.4099 10.7054 12.3061 10.8016 12.1844 10.861C12.0627 10.9203 11.9281 10.9404 11.7964 10.9187C11.6647 10.897 11.5413 10.8346 11.4408 10.7387L11.2 10.5574V7.69507V7.6943Z"
                                    class="tab__icon" />
                            </svg>
                            <p class="tab__name">Chat</p>
                        </ion-col>
                        <ion-col class="tab" [class.tab_active]="activeTab == 'favorites'" (click)="selectTab('favorites')">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.5475 4.9298L9.35058 4.29107L7.47444 0.308118C7.4232 0.199068 7.33889 0.110788 7.23476 0.0571283C6.97359 -0.0778871 6.65621 0.0346257 6.52563 0.308118L4.64949 4.29107L0.452561 4.9298C0.336852 4.94711 0.231061 5.00423 0.150065 5.09078C0.0521452 5.19617 -0.00181317 5.33796 4.65248e-05 5.48499C0.00190622 5.63202 0.0594318 5.77227 0.159983 5.87491L3.19652 8.97507L2.47912 13.3527C2.4623 13.4545 2.47306 13.5592 2.51018 13.655C2.54731 13.7508 2.60931 13.8337 2.68916 13.8944C2.76901 13.9552 2.86352 13.9912 2.96196 13.9986C3.0604 14.0059 3.15883 13.9843 3.24611 13.936L7.00003 11.8692L10.754 13.936C10.8564 13.9931 10.9755 14.0122 11.0895 13.9914C11.3771 13.9395 11.5705 13.6539 11.5209 13.3527L10.8036 8.97507L13.8401 5.87491C13.9227 5.79009 13.9773 5.67931 13.9938 5.55814C14.0384 5.25522 13.8368 4.9748 13.5475 4.9298Z"
                                    class="tab__icon" />
                            </svg>
                            <p class="tab__name">Favorites</p>
                        </ion-col>
                        <ion-col class="tab" [class.tab_active]="activeTab == 'support'" (click)="selectTab('support')">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.05013 2.04967C-0.683377 4.78317 -0.683377 9.21619 2.05013 11.9502C4.78364 14.6841 9.21572 14.6827 11.9492 11.9492C14.6827 9.21572 14.6841 4.78364 11.9502 2.05013C9.21665 -0.683377 4.78457 -0.683377 2.05013 2.05013V2.04967ZM11.622 2.37824C11.9976 2.75869 12.3254 3.18354 12.598 3.64336L10.7045 5.53686C10.5052 5.02913 10.2031 4.56808 9.81719 4.18264C9.43159 3.79634 8.97019 3.49406 8.46204 3.29483L10.3555 1.40133C10.8161 1.67411 11.2416 2.00219 11.6225 2.37824H11.622ZM4.51214 9.48815C3.85246 8.82797 3.48182 7.93292 3.48165 6.99964C3.48147 6.06636 3.85178 5.17118 4.51122 4.51075C5.17176 3.85165 6.06678 3.48149 6.99991 3.48149C7.93304 3.48149 8.82807 3.85165 9.48861 4.51075C10.1472 5.17145 10.5171 6.06631 10.5171 6.99922C10.5171 7.93212 10.1472 8.82698 9.48861 9.48768C8.82833 10.147 7.93343 10.5174 7.00034 10.5176C6.06724 10.5177 5.1722 10.1477 4.51168 9.48861L4.51214 9.48815ZM2.37778 11.622C2.00186 11.241 1.6738 10.8155 1.40086 10.3551L3.29436 8.46157C3.49467 8.969 3.79707 9.42987 4.18282 9.81562C4.56856 10.2014 5.02944 10.5038 5.53686 10.7041L3.64243 12.5976C3.19226 12.3284 2.7653 12.0082 2.37732 11.6216L2.37778 11.622ZM3.64383 1.39994L5.53825 3.29436C5.03052 3.49401 4.56936 3.79613 4.18354 4.18187C3.79772 4.56761 3.49551 5.0287 3.29576 5.5364L1.40133 3.6429C1.6705 3.19273 1.99073 2.76576 2.37824 2.37685C2.75907 2.00106 3.18421 1.67301 3.64429 1.39994H3.64383ZM10.3565 12.5976L8.46204 10.7031C8.96985 10.5038 9.4311 10.2018 9.81694 9.81611C10.2028 9.43042 10.5049 8.96931 10.7045 8.46157L12.599 10.3551C12.3298 10.8052 12.0096 11.2331 11.622 11.622C11.2412 11.9976 10.8161 12.3253 10.356 12.598L10.3565 12.5976Z"
                                    class="tab__icon" />
                            </svg>
                            <p class="tab__name">Support</p>
                        </ion-col>
                        <ion-col class="tab" [class.tab_active]="activeTab == 'notifications'" (click)="selectTab('notifications')">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6 14C6.825 14 7.5 13.3538 7.5 12.5641H4.5C4.5 12.9449 4.65804 13.3102 4.93934 13.5794C5.22064 13.8487 5.60218 14 6 14ZM10.5 9.69231V6.10256C10.5 3.89846 9.27 2.05333 7.125 1.56513V0H4.875V1.56513C2.7225 2.05333 1.5 3.89128 1.5 6.10256V9.69231L0 11.1282V11.8462H12V11.1282L10.5 9.69231Z"
                                    class="tab__icon" />
                            </svg>
                            <p class="tab__name">Notifications</p>
                        </ion-col>
                        <ion-col class="tab"  [class.tab_active]="activeTab == 'trash'" (click)="selectTab('trash')">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9 1.75H12C12.6 1.75 13 2.1 13 2.625V3.5H0V2.625C0 2.1 0.5 1.75 1 1.75H4C4.2 0.7875 5.3 0 6.5 0C7.7 0 8.8 0.7875 9 1.75ZM5 1.75H8C7.8 1.225 7.1 0.875 6.5 0.875C5.9 0.875 5.2 1.225 5 1.75ZM1 4.375H12L11.1 13.2125C11.1 13.65 10.6 14 10.1 14H2.9C2.4 14 2 13.65 1.9 13.2125L1 4.375Z"
                                    class="tab__icon" />
                            </svg>
                            <p class="tab__name">Trash</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div class="chat-tabs__tabscontainer_search">
                <div class="input">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5"
                            d="M8.93127 7.85699C8.68554 7.62164 8.44638 7.37953 8.21406 7.13094C8.01889 6.93264 7.90136 6.78837 7.90136 6.78837L6.43232 6.08698C7.02046 5.42002 7.34505 4.56143 7.34523 3.67223C7.34523 1.64778 5.6978 0 3.67261 0C1.64743 0 0 1.64778 0 3.67223C0 5.69667 1.64743 7.34445 3.67261 7.34445C4.59759 7.34445 5.44071 6.99822 6.08762 6.43217L6.78909 7.90106C6.78909 7.90106 6.93337 8.01857 7.13169 8.21372C7.33473 8.40415 7.60178 8.66174 7.85782 8.93086L8.5703 9.66111L8.8872 10L10 8.88731L9.66107 8.57045C9.46222 8.3753 9.19675 8.11615 8.93127 7.85699ZM3.67261 6.29525C2.22613 6.29525 1.04932 5.11856 1.04932 3.67223C1.04932 2.22589 2.22613 1.04921 3.67261 1.04921C5.1191 1.04921 6.29591 2.22589 6.29591 3.67223C6.29591 5.11856 5.1191 6.29525 3.67261 6.29525Z"
                            fill="black" />
                    </svg>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <ng-container [ngSwitch]="activeTab">
                <app-main-chat *ngSwitchCase="'chat'"></app-main-chat>
                <app-support-chat *ngSwitchCase="'support'"></app-support-chat>
            </ng-container>
            
        </div>

    </div>

</ion-content>