.chat-tabs {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    box-sizing: border-box;

    &__tabscontainer {
        position: relative;
        width: 100%;
        min-height: 100px;
        background: var(--color-black);
        border-radius: 15px;
        margin-top: 25px;

        &_tabs {
            width: 100%;
            min-height: 30px;
            background: #1F212A;
            border-radius: 10px 10px 0px 0px;
        
            ion-grid {
                padding: 0;
        
                .tab {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;

                    &__icon {
                        fill: white;
                        opacity: .3;
                    }
        
                    &_active {
                        width: 100%;
                        min-height: 30px;
                        background: var(--color-black);
                        border-radius: 10px 10px 0px 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;

                        .tab__name {
                            display: block;
                        }

                        .tab__icon {
                            opacity: 1;
                            fill: var(--color-secondary);
                        }
                    }

                    &__name {
                        display: none;
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 10px;
                        line-height: 15px;
                        color: var(--color-secondary);
                        margin-left: 3px;
                        text-transform: uppercase;
                    }
                }
            }
        
        }

        &_search {
            width: 100%;
            min-height: 50px;
            padding: 10px 10px;

            .input {
                width: 100%;
                border-radius: 5px;
                border: 2px solid transparent;
                background: var(--color-text-main);

                svg {
                    position: absolute;
                    left: 5%;
                    margin-top: 10px;
                }

                input {
                    width: 90%;
                    padding: 8px;
                    margin-left: 10px;
                    font-size: 10px;
                    color: #000000;

                    &::-webkit-input-placeholder {
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: 350;
                        font-size: 10px;
                        line-height: 15px;
                        color: #000000;
                        opacity: 0.5;
                    }
                }

            }

        }
    }
}