.selector-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;

    .selector {
        position: relative;
        width: 90%;
        max-width: 500px;
        background: var(--color-background);
        height: 200px;
        box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 5px;

        &__title {
            width: 100%;
            min-height: 50px;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 28px;
            color: var(--color-text-main);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
        }

        &__section {
            position: absolute;
            width: 145px;
            height: 115px;
            border-radius: 5px;
            background: var(--color-secondary);
            bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            p {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                color: var(--color-text-main);
                margin: 0;
            }

            &-audio {
                left: 8px;
            }

            &-video {
                right: 8px;
            }

        }

    }

}