<div class="selector-wrapper">
    <div class="selector">
        <div class="selector__title">Choose the type of call</div>
        <div (click)="selectAudio()" class="selector__section selector__section-audio">
            <svg width="26" height="38" viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M13 23.75C16.6991 23.75 19.697 20.5607 19.697 16.625V7.125C19.697 3.18929 16.6991 0 13 0C9.30091 0 6.30303 3.18929 6.30303 7.125V16.625C6.30303 20.5607 9.30091 23.75 13 23.75ZM26 16.5402C26 16.3536 25.8582 16.2009 25.6848 16.2009H23.3212C23.1479 16.2009 23.0061 16.3536 23.0061 16.5402C23.0061 22.4904 18.527 27.3125 13 27.3125C7.47303 27.3125 2.99394 22.4904 2.99394 16.5402C2.99394 16.3536 2.85212 16.2009 2.67879 16.2009H0.315152C0.141818 16.2009 0 16.3536 0 16.5402C0 23.6949 4.98727 29.5984 11.4242 30.4339V34.7768H5.7003C5.16061 34.7768 4.72727 35.3833 4.72727 36.1339V37.6607C4.72727 37.8473 4.83758 38 4.97152 38H21.0285C21.1624 38 21.2727 37.8473 21.2727 37.6607V36.1339C21.2727 35.3833 20.8394 34.7768 20.2997 34.7768H14.4182V30.4551C20.93 29.6917 26 23.7542 26 16.5402Z" fill="white"/>
            </svg>
            <p>AUDIO CALL</p>
        </div>
        <div (click)="selectVideo()" class="selector__section selector__section-video">
            <svg width="50" height="36" viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M33.9286 36H3.57143C2.62423 36 1.71582 35.6207 1.04605 34.9456C0.376274 34.2705 0 33.3548 0 32.4V3.6C0 2.64522 0.376274 1.72955 1.04605 1.05442C1.71582 0.379284 2.62423 0 3.57143 0H33.9286C34.8758 0 35.7842 0.379284 36.454 1.05442C37.1237 1.72955 37.5 2.64522 37.5 3.6V10.908L47.1786 3.942C47.4451 3.75072 47.7586 3.63692 48.0849 3.61303C48.4113 3.58913 48.7378 3.65607 49.0289 3.80652C49.3201 3.95697 49.5646 4.18516 49.7359 4.46617C49.9071 4.74718 49.9985 5.07021 50 5.4V30.6C49.9985 30.9298 49.9071 31.2528 49.7359 31.5338C49.5646 31.8148 49.3201 32.043 49.0289 32.1935C48.7378 32.3439 48.4113 32.4109 48.0849 32.387C47.7586 32.3631 47.4451 32.2493 47.1786 32.058L37.5 25.092V32.4C37.5 33.3548 37.1237 34.2705 36.454 34.9456C35.7842 35.6207 34.8758 36 33.9286 36Z" fill="white"/>
            </svg>
            <p>VIDEO CALL</p>
        </div>
    </div>
</div>