.modal {
    position: absolute;
    width: 100%;
    min-height: 100px;
    bottom: 0;
    color: var(--color-text-main);
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    .header-wrapper {
        width: 100%;
        min-height: 60px;

    &__header {
        width: 100%;
        min-height: 30px;
        border-bottom: 1px solid #ffffff52;
        padding: 10px 15px 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }

        &-arrow {
            margin: 0;
        }

    }

    &__static {
        width: 100%;
        min-height: 30px;
        padding: 10px 15px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 45%;

        p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 250;
            font-size: 12px;
            line-height: 18px;
            opacity: 1;
            margin: 0;

            span {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
            }

        }


    }

  }

    &__wrapper {
        width: 100%;
        min-height: 100px;
        padding: 5px 10px 10px 10px;
        overflow: hidden;
        overflow-y: auto;
    }

}