<div class="modal">

    <div class="header-wrapper">
        <div class="header-wrapper__header">
            <h1>Users in the chat</h1>
            <p class="header-wrapper__header-arrow" (click)="closeModal()">
                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.58565 8.2724C9.90914 8.59044 9.90914 9.10609 9.58565 9.42414C9.26216 9.74218 8.73767 9.74218 8.41418 9.42414L0.585778 1.72762C0.262284 1.40957 0.262285 0.89392 0.585779 0.575876C0.909272 0.257832 1.43376 0.257831 1.75725 0.575875L9.58565 8.2724Z" fill="white"/>
                    <path d="M8.45244 8.23724C8.12894 8.55529 8.12894 9.07094 8.45244 9.38898C8.77593 9.70702 9.30042 9.70702 9.62391 9.38898L17.4131 1.73097C17.7366 1.41293 17.7366 0.897279 17.4131 0.579235C17.0896 0.261191 16.5652 0.261191 16.2417 0.579234L8.45244 8.23724Z" fill="white"/>
                </svg>
            </p>
        </div>
        <div class="header-wrapper__static">
            <p><span>2313</span> Users are watching</p>
            <p><span>2313</span> Guests</p>
        </div>
    </div>

    <div class="modal__wrapper">
        <app-chat-viewer></app-chat-viewer>
    </div>

</div>