.range-container {
    width: 100%;
    min-height: 30px;

    p {
        position: relative;
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ion-toggle {
            margin-left: 5px;
        }

    }

 .range {
    width: 100%;
    height: 10px;
    position: relative;
    background-image: repeating-linear-gradient(90deg, rgba(white, .5), rgba(white, .5) 25px, white 25px, white 26px);
    border-radius: 2px;

    &_muted {
        background-image: repeating-linear-gradient(90deg, rgba(#5c5c5c, .5), rgba(#5c5c5c, .5) 25px, rgba(white, .3) 25px, rgba(white, .3) 26px);
    }

    &__set {
        height: 100%;
        background-color: var(--color-primary);
        opacity: 0.6;
        border-radius: 0 2px 2px 0;

        &_muted {
            background-color: #919191;
        }
    }

    &__button {
        position: absolute;
        width: 12px;
        height: 18px;
        top: -4px;
        background-color: var(--color-secondary);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_muted {
            background-color: rgb(129, 105, 82);

            .range__button-value {
                color: rgb(129, 105, 82);
            }
        }

        .line {
            width: 2px;
            height: 1px;
            background-color: var(--color-text-main);
            position: relative;

            &::after {
                content: "";
                width: 6px;
                height: 1px;
                background-color: var(--color-text-main);
                position: absolute;
                left: -2px;
                top: 3px;
            }

            &::before {
                content: "";
                width: 6px;
                height: 1px;
                background-color: var(--color-text-main);
                position: absolute;
                left: -2px;
                bottom: 3px;
            }
        }

        &-value {
            display: block;
            width: 40px;
            text-align: center;
            white-space: nowrap;
            color: var(--color-secondary);
            position: absolute;
            top: 18px;
            left: -14px;
            font-family: DaxlinePro;
            font-weight: 900;
            font-size: 10px;
            line-height: 15px;
        }
    }
  }
}