<div class="range-container">
    <p>
        {{ data.name }}
        <ion-toggle [(ngModel)]="data.isOn" *ngIf="data.isToggled"></ion-toggle>
    </p>
    <div #range class="range" [class.range_muted]="!data.isOn" (touchmove)="onTouchMove($event, range.offsetWidth)" (click)="rangeClick($event, range.offsetWidth)">
        <div class="range__set" [class.range__set_muted]="!data.isOn" [style.width.%]="currentValue"></div>
        <div class="range__button" [class.range__button_muted]="!data.isOn" [style.left.%]="rangeButtonPosition">
            <div class="line"></div>
            <span class="range__button-value">{{ data.setted | number:'1.2' }}</span>
        </div>
    </div>
</div>

