.stream {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/img/stream-back.png');
    background-size: cover;
    justify-content: space-between;
    align-items: center;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-close {
            outline: none;
            margin: 0;
        } 
    }

    &__footer {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;

        .chat {
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

        }
    }
}