<div class="card card_schedules">
    <div class="stat-title">
        Total time
        <div class="stat-title__tabs">

            <div class="tab-item" (click)="openCircular()">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                            d="M15 7.4847C15 5.93594 14.5392 4.42366 13.6785 3.1478C12.8178 1.87194 11.5978 0.892588 10.1797 0.339233L7.5 7.4847H15Z"
                            class="chart-icon" [class.chart-icon_active]="!isTabs" />
                        <path
                            d="M5.95243 0C4.45815 0.321441 3.09566 1.10053 2.04714 2.23312C0.998622 3.3657 0.314034 4.7978 0.0849043 6.33795C-0.144226 7.8781 0.0930224 9.45289 0.76493 10.8518C1.43684 12.2507 2.51138 13.407 3.8449 14.1662L7.50003 7.4858L5.95243 0Z"
                            class="chart-icon" [class.chart-icon_active]="!isTabs" />
                        <path
                            d="M8.90892 15.0004C10.1531 14.7577 11.3166 14.1975 12.2912 13.3721L7.5 7.48615L8.90892 15.0004Z"
                            class="chart-icon" [class.chart-icon_active]="!isTabs" />
                    </g>
                </svg>
            </div>

            <div class="tab-item" (click)="openColumnar()">
                <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="M0 5.375C0 4.89175 0.335786 4.5 0.75 4.5H2.25C2.66421 4.5 3 4.89175 3 5.375V15H0V5.375Z"
                            class="chart-icon" [class.chart-icon_active]="isTabs" />
                        <path
                            d="M4.5 0.9375C4.5 0.419733 4.83579 0 5.25 0H6.75C7.16421 0 7.5 0.419733 7.5 0.9375V15H4.5V0.9375Z"
                            class="chart-icon" [class.chart-icon_active]="isTabs" />
                        <path d="M9 5.375C9 4.89175 9.33579 4.5 9.75 4.5H11.25C11.6642 4.5 12 4.89175 12 5.375V15H9V5.375Z"
                            class="chart-icon" [class.chart-icon_active]="isTabs" />
                        <path
                            d="M13.5 8.4375C13.5 7.91973 13.8358 7.5 14.25 7.5H15.75C16.1642 7.5 16.5 7.91973 16.5 8.4375V15H13.5V8.4375Z"
                            class="chart-icon" [class.chart-icon_active]="isTabs" />
                    </g>
                </svg>
            </div>

        </div>
    </div>
    <ng-container *ngIf="isTabs then circlegraph else graph"></ng-container>
</div>

<ng-template #graph>

    <div class="stat-text">
        <p>
            This chart shows the income for the period you have chosen:
            <span>from</span>
            <span>12.05.2020</span>
            <span>to</span>
            <span>12.05.2020</span>.
        </p>
    </div>
    <div class="chars">
        <canvas height="300" class="chars__area" #pieCanvas></canvas>
    </div>

    <div class="stat-table">
        <div class="stat-table_section">
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-table_header" size="4">Name</ion-col>
                    <ion-col class="stat-table_header">Earning</ion-col>
                    <ion-col class="stat-table_header" size="2">%</ion-col>
                    <ion-col class="stat-table_header">Avg/hour</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="stat-table_section" *ngFor="let item of tableData">
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-table_main" size="4">
                        <div class="circle" [style.background]="item.color"></div>
                        <p>{{ item.title }}</p>
                    </ion-col>
                    <ion-col class="stat-table_main">{{ item.earnings | number: '2.0-2' }}</ion-col>
                    <ion-col class="stat-table_main" size="2">{{ item.percent }}%</ion-col>
                    <ion-col class="stat-table_main">{{ item.avg }}</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        
    </div>

</ng-template>

<ng-template #circlegraph>

    <div class="stat-text">
        <p>
            This chart shows the income for the period you have chosen:
            <span>from</span>
            <span>12.05.2020</span>
            <span>to</span>
            <span>12.05.2020</span>.
        </p>
    </div>
    <div class="stat-time">
        <p>
            3287<span>h</span> 34<span>m</span> 12<span>s</span>
        </p>
    </div>
    <div class="stat-percent">
        32.3%+
    </div>
    <div class="chars">
        <canvas height="300" class="chars__area" #barCanvas></canvas>
    </div>

    <div class="stat-table">
        <div class="stat-table_section">
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-table_header" size="4.8">Name</ion-col>
                    <ion-col class="stat-table_header" size="4.8">Time</ion-col>
                    <ion-col class="stat-table_header">%</ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="stat-table_section" *ngFor="let item of tableData">
            <ion-grid>
                <ion-row>
                    <ion-col class="stat-table_main" size="4.8">
                        <div class="circle" [style.background]="item.color"></div>
                        <p>{{ item.title }}</p>
                    </ion-col>
                    <ion-col class="stat-table_main" size="4.8">{{ item.time }}</ion-col>
                    <ion-col class="stat-table_main">{{ item.percent }}%</ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

</ng-template>