.card {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: var(--color-black);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--color-text-main);

    &_schedules {
        flex-direction: column;

            .stat-title {
                position: relative;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                height: 61px;
                padding-left: 6px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
    
                &__tabs {
                    position: absolute;
                    width: 80px;
                    min-height: 10px;
                    right: 0;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tab-item {
                        margin-left: 15px;
                        width: 15px;
                        height: 15px;
                    }

                    .chart-icon {
                        fill: gray;

                        &_active {
                            fill: var(--color-secondary);
                        }

                    }
                }
    
            }

            .stat-text {
                height: 25px;
                padding-left: 6px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-family: DaxlinePro;

                p {
                    width: 90%;
                    font-style: normal;
                    font-weight: 350;
                    font-size: 12px;
                    line-height: 18px;

                    span {
                        margin-left: 4px;
                    }

                    span:nth-child(1),
                    span:nth-child(3) {
                        font-style: normal;
                        font-weight: 900;
                        font-size: 12px;
                    }
                    span:nth-child(2),
                    span:nth-child(4) {
                        font-style: normal;
                        font-weight: 900;
                        font-size: 12px;
                        color: var(--color-secondary);
                    }

                }

            }

            .stat-time {
                height: 61px;
                padding-top: 15px;
                padding-left: 6px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                p {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 37px;

                    span {
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
            }

            .stat-percent {
                height: 15px;
                padding-left: 6px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px; 
                color: #42FF00;
            }

            .chars {
                width: 100%;
                height: 390px;
                padding-top: 70px;
                box-sizing: border-box;
            
                &__area {
                    width: 100%;
                }

            }

            .stat-table {
                position: relative;
                width: 100%;
                min-height: 50px;

                &_section {
                    width: 100%;
                    min-height: 40px;
                    border-top: 1px solid #262b2f;
                    border-bottom: 1px solid #262b2f;

                    ion-grid {
                        padding: 0;
                        min-height: 40px;

                        ion-row {
                            min-height: 40px;

                            ion-col {
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start; 
                                font-family: DaxlinePro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 18px;
                                padding-bottom: 6px;
                            }
                        }

                    }

                }

                &_header {
                    border-right: 1px solid #262b2f;

                    &_header:nth-child(4) {
                        border-right: none;
                    }

                }

                &_main {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 15px;
                    border-right: 1px solid #262b2f;

                    &_main:nth-child(4) {
                        border-right: none;
                    }

                    p {
                        font-family: DaxlinePro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 15px;
                        margin-left: 3px;
                    }

                    .circle {
                        position: relative;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }

                }

            }
    }

}