.report {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 30px 10px 25px 10px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    &__modal {
        position: relative;
        width: 100%;
        min-height: 100px;
        background: #282733;
        box-shadow: 0px 25px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 7px 11px 7px 7px;

        &_close {
            position: absolute;
            top: -7px;
            right: 9px;
        }

        .header {
            padding-top: 20px;
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 24px;
        }

        &_notification {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: var(--color-text-main);
            margin-top: 15px;

            .user {
                font-weight: 900;
            }

        }

        &_choice {
            position: relative;
            width: 100%;
            min-height: 10px;

            .checkbox {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-top: 20px;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: var(--color-text-main);

                p {
                    position: absolute;
                    margin: 0;
                    top: 13px;
                    left: 17px;
                }

            }

        }

        
    .form {
        width: 100%;
        min-height: 100px;
        padding-top: 30px;

        &__section {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;

            label {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 750;
                font-size: 14px;
                line-height: 21px;
                color: var(--color-text-main);
                padding-bottom: 5px;
            }

            .textarea {
                background: var(--color-text-main);
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 350;
                font-size: 12px;
                line-height: 18px;
                color: rgb(62, 17, 22, 0.3);
                border-radius: 5px;
                min-height: 150px;
                padding-left: 5px; 
                padding-right: 5px;
            }
        }
    }

    }

}