<div class="report">
    <div class="report__modal">
        <p class="report__modal_close">
            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                <path d="M17.6678 2.16152C17.5625 2.0579 17.4375 1.97569 17.2998 1.91961C17.1622 1.86352 17.0147 1.83465 16.8657 1.83465C16.7166 1.83465 16.5691 1.86352 16.4315 1.91961C16.2938 1.97569 16.1688 2.0579 16.0635 2.16152L10.5 7.61593L4.93646 2.15034C4.83112 2.04686 4.70607 1.96477 4.56845 1.90877C4.43082 1.85277 4.28331 1.82394 4.13435 1.82394C3.98538 1.82394 3.83788 1.85277 3.70025 1.90877C3.56263 1.96477 3.43758 2.04686 3.33224 2.15034C3.22691 2.25382 3.14335 2.37667 3.08635 2.51187C3.02934 2.64707 3 2.79198 3 2.93832C3 3.08467 3.02934 3.22957 3.08635 3.36478C3.14335 3.49998 3.22691 3.62283 3.33224 3.72631L8.89579 9.1919L3.33224 14.6575C3.22691 14.761 3.14335 14.8838 3.08635 15.019C3.02934 15.1542 3 15.2991 3 15.4455C3 15.5918 3.02934 15.7367 3.08635 15.8719C3.14335 16.0071 3.22691 16.13 3.33224 16.2335C3.43758 16.3369 3.56263 16.419 3.70025 16.475C3.83788 16.531 3.98538 16.5599 4.13435 16.5599C4.28331 16.5599 4.43082 16.531 4.56845 16.475C4.70607 16.419 4.83112 16.3369 4.93646 16.2335L10.5 10.7679L16.0635 16.2335C16.1689 16.3369 16.2939 16.419 16.4316 16.475C16.5692 16.531 16.7167 16.5599 16.8657 16.5599C17.0146 16.5599 17.1621 16.531 17.2997 16.475C17.4374 16.419 17.5624 16.3369 17.6678 16.2335C17.7731 16.13 17.8566 16.0071 17.9137 15.8719C17.9707 15.7367 18 15.5918 18 15.4455C18 15.2991 17.9707 15.1542 17.9137 15.019C17.8566 14.8838 17.7731 14.761 17.6678 14.6575L12.1042 9.1919L17.6678 3.72631C18.1001 3.30158 18.1001 2.58624 17.6678 2.16152Z" fill="white"/>
                </g>
                <defs>
                <filter id="filter0_d" x="0" y="0.823944" width="21" height="20.7359" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="2"/>
                <feGaussianBlur stdDeviation="1.5"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                </defs>
            </svg>
        </p>
        <div class="title title_small header">Report</div>
        <p class="report__modal_notification">Please describe what you didn't like about the behavior of the <span class="user">Max line</span> user ?</p>
        <div class="report__modal_choice">
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Abusive behavior</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Attempted murder</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Threats against you or your loved ones</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Flooding and clogging the chat</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Sale of goods</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Trying to find out personal contact information</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Spam</p>
            </div>
            <div class="checkbox">
                <app-checkbox-component></app-checkbox-component>
                <p>Other</p>
            </div>
        </div>
        <div class="form">
            <div class="form__section">
                <label>More detailed</label>
                <ion-textarea class="textarea"></ion-textarea>
            </div>
            <div class="btn btn_delete btn_radius">REPORT</div>
        </div>
    </div>
</div>