/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*fonts global*/
@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Regular.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Light.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Medium.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Bold.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Thin.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Black.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Light.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Black.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Regular.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Thin.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Medium.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-Bold.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaxlinePro';
    src: url('./assets/fonts/DaxlinePro-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/DaxlinePro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/*fonts global!*/


/*<--------------------------------GLOBAL SCSS-------------------------------->*/

body {
    font-family: DaxlinePro;
}


.title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 37px;
    color: var(--color-text-main);

    &_small {
        font-size: 16px;
    }
}

.field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var( --color-black);
    padding-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    &_error {
        border: 2px solid var(--color-error);
    }
}
.field::-webkit-input-placeholder {
    color: var(--color-placeholder);
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 21px;
    padding-left: 5px;
    opacity: 0.3;
}

.btn {
    display: block;
    text-decoration: none;
    width: 100%;
    outline: none;
    padding: 12px 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-text-main);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;

    &_radius {
        border-radius: 10px;
    }

    &_secondary {
        background: var(--color-secondary);
        cursor: pointer;
    }

    &_primary {
        background: var(--color-primary);
        cursor: pointer;
    }

    &_done {
        background: var(--color-done);
        cursor: pointer;
    }

    &_delete {
        background: var(--color-error);
        cursor: pointer;
    }

}

ion-header {
    --background: var(--color-black);
}

ion-content {
    --background: var(--color-background);
}

ion-toolbar {
    --background: var(--color-black);
    color: var(--color-text-main);
}

ion-item {
    --background: var(--color-black);
    color: var(--color-text-main);
}

ion-menu {
    --width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
}

ion-menu-button {
    position: absolute;
    top: 3px;
    z-index: 999999;
}

input {
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    color: rgb(62, 17, 22, 0.3);
    padding: 6px;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    font-family: DaxlinePro;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 21px;
    color: rgb(62, 17, 22, 0.3);
}

ion-toggle {
    --handle-background: var(--color-text-main);
    --handle-height: 10px;
    --handle-width: 10px;
    --background-checked: var(--color-secondary);
    --handle-background-checked: var(--color-text-main);
    height: 10px;
    width: 19px;
    position: relative;

    &::after {
        content: '';
        width: 19px;
        height: 10px;
        border: 1px solid white;
        position: absolute;
        left: 11px;
        top: 11px;
        border-radius: 5px;
    }
}

app-stories-page > ion-content {
    --background: transparent !important;
}

.input-error {
    border: 2px solid red !important;
}

.global-modal {
    --background: none;
    --backdrop-opacity: 0 !important;
    padding-top: 125px;
}