<div class="wrapper" [class.wrapper_self]="message.isSelf">

    <div class="wrapper__message" [class.wrapper__message_self]="message.isSelf" [class.wrapper__message_notfirst]="!message.isLast && !message.isSelf" [class.wrapper__message_self-notfirst]="!message.isLast && message.isSelf">
        <div class="message" [class.message_self]="message.isSelf">
            <div class="message__author">{{ message.userName }}</div>
            <div class="message__text">
                {{ message.text }}
            </div>
            <div class="message__time">{{ message.time }}</div>

            <img src="../../../assets/img/message1.svg" class="message__tail message__tail_self" *ngIf="message.isLast && !message.isSelf">
            <img src="../../../assets/img/message2.svg" class="message__tail" *ngIf="message.isLast && message.isSelf">
        </div>
    </div>

    <div class="wrapper__user" *ngIf="message.isLast">
        <img src="../../../assets/img/user-2.png">
    </div>
</div>