@mixin flexAlign($hor: center, $vert: center, $pos: row) {
  display: flex;
  justify-content: $hor;
  align-items: $vert;
  flex-direction: $pos;
}

.wrapper {
  width: 100%;
  @include flexAlign(flex-start, flex-end, row-reverse);

  &_self {
    @include flexAlign(flex-end, $pos: row);
  }

  &__message {
    width: 100%;
    @include flexAlign(flex-start);
    margin-right: 5px;

    &_self {
      justify-content: flex-end;
    }

    &_self-notfirst {
      margin-right: 35px;
    }

    &_notfirst {
      margin-left: 35px;
    }
  }

  &__user {
    width: 30px;
    flex-shrink: 0;
    height: 100%;
    @include flexAlign(flex-end, flex-end, column);
  }
}

.message {
  position: relative;
  min-width: 10%;
  display: inline-block;
  background: var(--color-black);
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 7px;

  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  color: var(--color-text-main);
  font-family: DaxlinePro;
  font-style: normal;

  &_self {
    background: var(--color-done);
  }

  &__author {
    width: 100%;
    height: 10px;
    font-weight: bold;
    font-size: 10px;
    line-height: 9px;
    text-align: right;
  }

  &__text {
    width: 100%;
    min-height: 10px;
    padding: 10px 0 0 21px;

    font-weight: 350;
    font-size: 11px;
    line-height: 12px;
  }

  &__time {
    width: 100%;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    text-align: left;
    opacity: 0.3;
  }

  &__tail {
    position: absolute;
    right: -4px;
    bottom: -5px;

    &_self {
        left: -4px;
    }
  }
}

