<div class="progress">
    <div class="progress__line" [style.width.%]="progress">
        <div class="progress__line-circle">
            <span class="progress__line-circle-value">{{ value }} Rep</span>
        </div>
    </div>
</div>