.progress {
    width: 100%;
    height: 2px;
    background: #2c2b39;
    border-radius: 10px;

    &__line {
        height: 100%;
        background: var(--color-secondary);
        position: relative;

        &-circle {
            position: absolute;
            width: 6px;
            height: 6px;
            top: -2px;
            right: 0;
            border-radius: 50%;
            background: var(--color-secondary);

            &-value {
                white-space: nowrap;
                position: absolute;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 9px;
                line-height: 14px;
                color: #ffffff;
                top: 8px;
                left: -7px;
            }
        }
    }
}
