<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
    <ion-title>
      <img class="logo" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home">
    <div class="title title_small">Home</div>

    <div class="home__card home__card_user">
      <div class="home__card-avatar" style.backgroundImage="url({{ userInfo?.avatar }})"></div>
      <button routerLink="/stories" class="btn btn_secondary">Load video story</button>
    </div>

    <div class="home__card home__card_streaming">
      Streaming
      <button class="btn btn_secondary" routerLink="/in-online">go to online</button>
    </div>

    <div class="home__card home__card_statistics">
      <div class="stat-title">
        Your reporting statistics
      </div>

      <div class="stats-total" *ngIf="statistics">
        <div class="stats-total__item">
          <span class="stats-total__item-value">
            <img src="assets/icon/symbol.svg" alt="">
            {{ statistics.totalEarnings | number:'1.0-0' }}
          </span>
          <span class="stats-total__item-text">Total earnings</span>
        </div>

        <div class="stats-total__item">
          <span class="stats-total__item-value">{{ statistics.totalTime }}</span>
          <span class="stats-total__item-text">Total time</span>
        </div>

        <div class="stats-total__item">
          <span class="stats-total__item-value">
            <img src="assets/icon/symbol.svg" alt="">
            {{ statistics.avg | number:'1.0-2' }}
          </span>
          <span class="stats-total__item-text">Avg/Hour</span>
        </div>
      </div>

      <div class="stats-period">
        <input (change)="onPeriodChange($event)" type="radio" name="period" value="day" id="day">
        <label for="day" class="stats-period__item">1 Day</label>

        <input (change)="onPeriodChange($event)" type="radio" name="period" value="week" id="week">
        <label for="week" class="stats-period__item">1 Week</label>

        <input (change)="onPeriodChange($event)" type="radio" name="period" checked value="month" id="month">
        <label for="month" class="stats-period__item">1 Month</label>

        <input (change)="onPeriodChange($event)" type="radio" name="period" value="year" id="year">
        <label for="year" class="stats-period__item">1 Year</label>
      </div>

      <div class="chars">
        <canvas height="300" class="chars__area" #barCanvas></canvas>
      </div>

      
    </div>

    <div class="home__card home__card_comission">
      <div class="value">
        <span class="value__text">Comission</span>
        <span class="value__percent">35%</span>
      </div>

      <div class="hint">
        <img src="assets/icon/hint.svg" alt=""><span class="strong">Hint: </span>
        When a member spends paid succoins with you, you will get this commission.
      </div>
    </div>

    <div class="home__card home__card_help">
      <div class="help-title">Help and support</div>

      <p class="help-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Rhoncus euismod eget praesent nisi. Suspendisse id egestas ridiculus 
        faucibus mauris dictum diam tellus ligula. Enim, risus purus eget 
        turpis mus risus massa tincidunt. 
      </p>

      <button class="btn btn_primary">FREQUENTLY ASKED QUESTIONS</button>
      <button class="btn btn_secondary">CONTACT CUSTOMER SUPPORT</button>
    </div>
  </div>
  
</ion-content>
