.home {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;

    .title {
        margin-bottom: 20px;
    }

    &__card {
        display: flex;
        width: 100%;
        background-color: var(--color-black);
        border-radius: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        color: var(--color-text-main);

        &-avatar {
            min-width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 4px solid var(--color-secondary);
            margin-bottom: 40px;
            margin-right: 10px;
            background-color: var(--color-black);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &_user {
            margin-top: 40px;
            height: 60px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
        }

        &_streaming {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 900;
            line-height: 28px;
            padding: 20px 10px 10px 10px;

            .btn {
                margin-top: 10px;
            }
        }

        &_statistics {
            flex-direction: column;

            .stat-title {
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                height: 61px;
                padding-left: 6px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                border-bottom: 1px solid #262b2f;
            }

            .stats-total {
                justify-content: space-around;
                display: flex;
                border-bottom: 1px solid #262b2f;

                &__item {
                    flex: 1;
                    height: 54px;
                    display: flex;
                    flex-direction: column;
                    padding: 0 6px;
                    box-sizing: border-box;
                    justify-content: center;
                    border-right: 1px solid #262b2f;

                    &:last-child {
                        border-right: none;
                    }

                    &-value {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                    }

                    &-text {
                        font-weight: 350;
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }

            .stats-period {
                padding: 0 6px;
                height: 28px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 750;
                font-size: 12px;
                line-height: 18px;
                border-bottom: 1px solid #262b2f;

                &__item{
                    color: var(--color-text-main);
                    opacity: .3;
                }

                input {
                    display: none;

                    &:checked + .stats-period__item {
                        opacity: 1;
                        color: var(--color-secondary);
                    }
                }
            }
        }

        &_comission {
            flex-direction: column;
            padding: 12px 6px 10px 6px;

            .value {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 900;
                margin-bottom: 12px;

                &__text {
                    font-size: 14px;
                    line-height: 21px;
                }

                &__percent {
                    font-size: 24px;
                    line-height: 37px;
                }
            }

            .hint {
                font-weight: 400;
                font-size: 12px;

                .strong {
                    font-weight: 900;
                    font-size: 10px;
                    padding-left: 4px;
                }
            }
        }

        &_help {
            flex-direction: column;
            padding: 20px 6px 6px 6px;
            position: relative;

            &::after {
                content: "Help";
                font-size: 90px;
                font-weight: 900;
                position: absolute;
                right: 10px;
                top: -10px;
                color: var(--color-text-main);
                opacity: 0.03;
            }

            .help-title {
                font-weight: 900;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 10px;
            }

            .help-text {
                font-weight: 350;
                font-size: 10px;
                line-height: 15px;
                margin-bottom: 20px;
            }

            .btn {
                margin-bottom: 5px;
            }
        }
    }
}

.chars {
    width: 100%;
    height: 400px;
    padding-top: 70px;
    box-sizing: border-box;

    &__area {
        width: 100%;
    }
}