<div class="period">
    <label class="period__container">
        <input (change)="onPeriodChange($event)" class="period__container-radio" checked name="period" type="radio" value="last">
        <span class="period__container-name">Transactions for 24 hours</span>
    </label>

    <label class="period__container">
        <input (change)="onPeriodChange($event)" class="period__container-radio" name="period" type="radio" value="all">
        <span class="period__container-name">Full statistics</span>
    </label>
</div>