.period {
    display: flex;
    font-weight: 900;
    font-size: 15px;
    line-height: 21px;
    color: var(--color-text-main);
    margin-top: 20px;
    font-family: DaxlinePro;

    &__container {
        &-radio {
            display: none;

            &:checked + .period__container-name {
                color: var(--color-secondary);
            }
        }

        &:last-child {
            margin-left: 20px;
        }
    }
}
