<ion-header>
    <ion-toolbar>
        <ion-menu-button class="burger"></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="statistics">

        <div class="statistics__header">
            <div class="title title_small">General statistic</div>
        </div>

        <div class="statistics__range">
            <div class="statistics__range-item datepicker">
                <img src="assets/icon/calendar.svg" alt="">
                <ion-datetime [(ngModel)]="startDate" displayFormat="YYYY-MM-DD" min="2018" [max]="maxDate"
                    placeholder="Start date"></ion-datetime>
                <ion-datetime [(ngModel)]="endDate" displayFormat="YYYY-MM-DD" min="2018" [max]="maxDate"
                    placeholder="End date"></ion-datetime>
                <div class="datepicker__button" (click)="filter()">Filter</div>
            </div>
        </div>

        <div class="statistics__comparison">
            <p>
                Comparison of earnings<br>
                <span *ngIf="startDate || endDate">
                    with
                    <span class="marked">{{ startDate | date: 'dd.MM.yyyy' }}</span> by <span
                        class="marked">{{ endDate | date: 'dd.MM.yyyy' }}</span>
                </span>
            </p>
            <div class="statistics__comparison-convert">
                <p>
                    <img src="../../assets/icon/ellipse.svg">
                    <span class="marked marked_slim">/&#8364;</span>
                    1=0.14
                </p>
            </div>
        </div>

        <div class="statistics__slider">
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide *ngFor="let item of slides">
                    <app-slider-component [slide]="item"></app-slider-component>
                </ion-slide>
            </ion-slides>

        </div>

        <div class="statistics__graphs" *ngIf="statistics">
            <app-graphs-component [statistics]="statistics"></app-graphs-component>
        </div>

    </div>
</ion-content>