.statistics {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 0 11px;
    }

    &__range {
        margin-top: 20px;

        &-item {
            width: 100%;
            background-color: var(--color-black);
            border-radius: 5px;
            padding: 0 11px;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            p {

                img {
                    position: absolute;
                    width: 10px;
                    margin-top: 5px;
                }
            }
        }

        .datepicker {
            height: 30px;
            margin-bottom: 5px;
            justify-content: space-between;

            &__button {
                font-family: DaxlinePro;
                background-color: var(--color-secondary);
                color: var(--color-text-main);
                height: 20px;
                border-radius: 5px;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 58px;
                margin-left: 5px;
                flex-shrink: 0;
            }

            ion-datetime {
                background-color: var(--color-text-main);
                height: 20px;
                width: 100%;
                border-radius: 5px;
                padding: 2px 0 0 5px !important;
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }

    &__comparison {
        position: relative;
        width: 100%;
        min-height: 10px;

        p {
            font-family: DaxlinePro;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 21px;
            color: var(--color-text-main);
            margin-top: 5px;
            margin-left: 10px;

            .marked {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 900;
                font-size: 14px;
                line-height: 21px; 
                color: var(--color-secondary);

                &_slim {
                    font-weight: 400;
                }
            }
        }

        &-convert {
            position: absolute;
            width: 43px;
            height: 46px;
            background: var(--color-black);
            border-radius: 5px;
            top: 5px;
            right: 0;

            p {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 350;
                font-size: 10px;
                line-height: 18px;
                color: var(--color-text-main);
                margin-left: 8px;

                img {
                    width: 10px;
                }

                span {
                    font-family: DaxlinePro;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                }

            }
        }

    }

    &__slider {
        position: relative;
        width: 100%;
        min-height: 100px;
        padding: 13px 3px;
    }

    &__graphs {
        position: relative;
        width: 100%;
        min-height: 100px;
    }

}