<ion-header>
    <ion-toolbar>
        <ion-menu-button></ion-menu-button>
        <ion-title>
            <img class="logo" src="assets/img/logo.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="settings">
        <div class="title title_small">Account settings</div>

        <app-toggle-item class="settings__toggle" text="Account information">
            <div class="form" [formGroup]="settingsForm">
                <div class="form__section">
                    <label>Gender</label>
                    <ion-select class="select" formControlName="gender" placeholder="Select">
                        <ion-select-option *ngFor="let item of genders" [value]="item.toLowerCase()">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </div>
                <div class="form__section">
                    <label>First Name</label>
                    <div class="input">
                        <input type="text" placeholder="Enter you`r Name" formControlName="firstName">
                    </div>
                </div>
                <div class="form__section">
                    <label>Last Name</label>
                    <div class="input">
                        <input type="text" placeholder="Enter you`r Last Name" formControlName="lastName">
                    </div>
                </div>
                <div class="form__section">
                    <label>Birthdate</label>
                    <div class="input_inputs">
                        <input class="dd" type="text" placeholder="DD" formControlName="day">
                        <input class="mm" type="text" placeholder="MM" formControlName="month">
                        <input class="year" type="text" placeholder="Year" formControlName="year">
                    </div>
                </div>
                <div class="form__section">
                    <label>Location</label>
                    <ion-select class="select" placeholder="Select">
                        <ion-select-option></ion-select-option>
                    </ion-select>
                </div>
                <div class="form__section">
                    <label>State Name</label>
                    <div class="input">
                        <input type="text" placeholder="Confirmation you`State name">
                    </div>
                </div>
                <div class="form__section">
                    <label>City</label>
                    <div class="input">
                        <input type="text" placeholder="Enter you`r City">
                    </div>
                </div>
                <div class="btn btn_secondary" (click)="saveUserChanges()">SAVE CHANGE</div>
            </div>
        </app-toggle-item>

        <app-toggle-item class="settings__toggle" text="Change password">
            <div class="form" [formGroup]="changePassForm">
                <div class="form__section">
                    <label>Confirm your E-mail <span>*</span></label>
                    <div class="input">
                        <input formControlName="email" type="text" placeholder="Enter you`r email">
                    </div>
                </div>
                <div class="form__section">
                    <label>Old Password <span>*</span></label>
                    <div class="input">
                        <input formControlName="password" type="password" placeholder="Enter you`r Old password">
                    </div>
                </div>
                <div class="form__section">
                    <label>New Password <span>*</span></label>
                    <div class="input">
                        <input formControlName="newPassword" type="password" placeholder="Enter you`r New Password">
                    </div>
                </div>
                <div class="form__section">
                    <label>Retype Password <span>*</span></label>
                    <div class="input">
                        <input formControlName="newPassword_confirmation" type="password" placeholder="Retype you`r New Password">
                    </div>
                </div>
                <div class="btn btn_secondary" (click)="savePasswordChanges()">SAVE CHANGE</div>
            </div>

        </app-toggle-item>

    </div>
</ion-content>