.settings {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 12px;

    .title {
        margin-bottom: 20px;
    }

    &__toggle {
        margin-bottom: 20px;
    }

    .form {
        width: 100%;
        min-height: 100px;

        &__section {
            width: 100%;
            height: 100%;
            padding-bottom: 20px;

            label {
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;

                span {
                    color: var(--color-secondary);
                }
            }

            .textarea {
                background: var(--color-text-main);
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: 350;
                font-size: 12px;
                line-height: 18px;
                color: rgb(62, 17, 22, 0.3);
                border-radius: 5px;
                min-height: 70px;
                padding: 5px;
            }

            .input {
                position: relative;
                width: 100%;
                min-height: 10px;
                padding-top: 7px;
                box-sizing: border-box;

                input {
                    width: 100%;
                }

                &_inputs {

                    input {

                        &:nth-child(2) {
                            margin-left: 5px;
                        }
                        &:nth-child(3) {
                            margin-left: 5px;
                        }
                        
                    }

                    .dd {
                        width: 50px;
                    }
        
                    .mm {
                        width: 50px;
                    }
        
                    .year {
                        width: 80px;
                    }
                }

            }

            .select {
                margin-top: 7px;
                padding: 5px;
                background: var(--color-text-main);
                border-radius: 5px;
                font-family: DaxlinePro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: var(--color-placeholder);
            }
        }
    }

}